

#settingsLeft {
 width: 498px;
 float: left;
 margin: 36px 0 0 120px;
}

 #introTitle {
  font-family: KingthingsPetrockRegular,Times New Roman,serif;
  color: #f3b13f;
  font-size: 22px;
  font-weight: normal;
  line-height: 40px;
 }

 #intro {
  color: #b8b8b8;
  font-size: 11px;
  line-height: 18px;
 }

 #settingsLeft .RaggedBox {
  left: -10px;
 }

 #settingsLeft .RaggedBoxContent iframe {
  display: block;
  width: 100%;
  height: 400px; 
  border: 0;
  background: transparent;
 }
 html.js #settingsLeft .RaggedBoxContent iframe {
  height: 1800px; 
 }
#settingsRight {
 float: right;
 margin: -70px 57px 0 0;
}

#membership {
 margin-bottom: 34px;
}

#membership .OrnamentalBoxTop h3 {
  font-size: 17px;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 100%;
  margin-left: -4px;
}

#membership.OrnamentalBox {
 *padding-bottom: 235px;
}

#membership .OrnamentalBoxBg {
 margin-top: 235px;
 *top: 235px;
}

#membership .OrnamentalBoxContent {
 text-align: center;
}

#membership .Button {
 margin-top: 15px;
}

div.HrOneThird {
  height: 15px;
  margin: auto auto 10px;
  width: 100%;
}

.cancelSub {
 font-size: 10px;
}