

html {
 width: 482px;
}

html,
body {
 padding: 0;
 margin: 0;
 border: 0;
 color: white;
 font-family: arial;
 background: transparent;
 overflow-x: hidden;
}

body {
 padding: 14px 12px 20px 32px;
 font-family: MuseoSans500,Arial,Times New Roman,serif;
 color: #b8b8b8;
}

label {
 cursor: pointer;
}

.container {
 position: relative;
}

.sectionHeader {
 padding: 4px 0 14px;
 font-size: 18px;
 line-height: 22px;
 font-weight: normal;
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
 color: #f3b13f;
 text-shadow: 1px 1px 1px black;
}
.section {
 margin: 0 0 1em;
}

.section:last-child {
 margin-bottom: 0;
}

.hidden {
 display: none;
}

.error, .err_msg, .nonJSError {
 color: #e00;
}

.Button31Help {
 position: absolute;
 right: -11px;
 top: 0;
}

.intro {
 margin: 0;
 padding: 5px 0 8px;
 width: 84%;
}

.formInput {
 float: left;
 width: 50%;
 height: 35px;
 line-height: 27px;
 vertical-align: middle;
}

.inputLabel {
 display: inline-block;
 vertical-align: middle;
 width: 62px;
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
}

.DarkInputBoxWrapper {
 display: inline-block;
 vertical-align: middle;
}

.DarkInputBoxWrapper input {
 width: 120px;
}

.checkboxLabel {
 display: inline-block;
 vertical-align: middle;
 margin-right: 10px;
}

input[type=checkbox],
input[type=radio] {
 display: inline-block;
 vertical-align: middle;
}

.formSubmit {
 clear: both;
 padding: 1em 0 0;
}

ul {
 line-height: 18px;
}

span, p {
 font-family: MuseoSans500,Arial,Times New Roman,serif;
 color: #b8b8b8;
 font-size: 11px;
 line-height: 18px;
}

.accountSettingsTitle,
.accountSettingsTitleGrey,
.accountSettingsFeedback {
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
 letter-spacing: 0.03em;
 font-weight: normal;
 font-size: 15px;
 padding: 5px 0;
}

.accountSettingsTitle {
 color: #f3b13f;
}

.accountSettingsTitleGrey {
 width: 200px;
}

label.accountSettingsTitle,
label.accountSettingsTitleGrey {
 display: block;
 padding: 10px 0;
}

.accountSettingsPaddedText, .padded {
 padding: 5px 0;
 font-family: MuseoSans500,Arial,Times New Roman,serif;
 color: #b8b8b8;
 font-size: 11px;
 line-height: 18px;
 margin-bottom: 10px;
}

.accountSettingsButton {
 margin: 10px 0;
}

.vspacer {
 height: 10px;
}

.accountSettingsTickbox,
.form_row .Checkbox {
 float: left;
 display: block;
}

.accountSettingsTickboxLabel {
 display: block;
 float: left;
 margin-left: 10px;
 width: 400px;
}

.js .accountSettingsTickboxLabel {
 margin-top: 3px;
}

.inputMedium {
 width: 150px;
 margin-left: 5px;
}

.ErrorBubble {
 right: 0;
 top: -10px;
 color: white;
}

.js .nonJSError {
 display: none;
}

.accountSettingsFeedback {
 text-shadow: 1px 1px 1px black;
 font-size: 15px;
}

.accountSettingsFeedback.success .FlatHeader, .success {
 color: #44EE00;
}

.accountSettingsFeedback.error .FlatHeader, .error {
 color: #FF2211;
}

.blue {
 color: #1C81B8;
}

.accountSettingsTable {
  background-color: #161616;
  border: 1px solid #303030;
  margin: 10px auto 0;
  padding-bottom: 5px;
  padding-top: 20px;
  position: relative;
}
.tableInnerContainer {
 margin: -15px auto 5px;
 position: relative;
 width: 420px;
 z-index: 2;
}
.tableBoxTopLeft,
.tableBoxTopRight,
.tableBoxBottomLeft,
.tableBoxBottomRight {
 background-image: url("../img/hiscore/borders.png");
 height: 23px;
 position: absolute;
 width: 24px;
 z-index: 1;
}
.tableBoxTopLeft, .tableBoxTopRight {
 top: -1px;
}
.tableBoxTopLeft, .tableBoxBottomLeft {
 left: -1px;
}
.tableBoxTopRight, .tableBoxBottomRight {
 right: -1px;
}
.tableBoxBottomLeft, .tableBoxBottomRight {
 bottom: -1px;
}
.tableBoxTopRight {
 background-position: right top;
}
.tableBoxBottomRight {
 background-position: right bottom;
}
.tableBoxBottomLeft {
 background-position: left bottom;
}
.tableInnerContainer .row span {
  display: block;
  float: left;
}
.tableInnerContainer .row {
  border-bottom: 1px dotted #635035;
  clear: both;
  display: block;
  overflow: hidden;
}
.tableInnerContainer .row.last-row {
 border: none;
}

#emailNav {
 left: 0;
 top: 0;
 position: relative;
 height: 30px;
 font-size: 11px;
}

#emailNav .spacer {
 padding: 0 5px;
}