




/* -----------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------- OVERRIDE GLOBALS -*/
/* -----------------------------------------------------------------------------------------------*/

#MainContent {
 background: url('../img/adventurers-log/bg-character.png') no-repeat 59px 111px;
 margin-bottom: 0;
}

.search {
 position: absolute;
 left: 280px;
 top: 48px;
}

.search > * {
 display: inline-block;
 vertical-align: middle;
}

.search > .Button {
 position: relative;
 top: 4px;
}

.adventurerslog {
 position: relative;
 height: 1%;
 line-height: normal;
}

.adventurerslog ul {
 list-style: none;
}

.adventurerslog table {
 border: none;
 font-size: 11px;
}

.adventurerslog td,
.adventurerslog th {
 text-align: center;
 font-weight: normal;
 border: 1px dotted #635035;
}

.adventurerslog tr:last-child * {
 border-bottom: none;
}

.adventurerslog thead td,
.adventurerslog thead th {
 border: none;
}

.adventurerslog tbody th,
tbody.adventurerslog th {
 text-align: left;
 border-left: 0;
 color: #b8b8b8;
}


/* -----------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------- LAYOUT -*/
/* -----------------------------------------------------------------------------------------------*/

.primaryContent {
 float: left;
 position: relative;
 padding: 42px 0 0 117px;
 width: 514px;
 min-height: 619px;
 z-index: 2;
}

.secondaryContent {
 float: left;
 z-index: 2;
}

.character {
 position: absolute;
 top: -114px;
 left: 266px;
 width: 467px;
 height: 788px;
 z-index: 1;
}

.tertiaryContent {
 margin: 0 auto 80px;
 clear: both;
}

#profilePictures {
 padding: 0 0 15px;
}


/* -----------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------- OVERALL -*/
/* -----------------------------------------------------------------------------------------------*/

.overall {
 color: #bb8832;
}

.overall ul {
 margin-bottom: 30px;
 font-size: 20px;
 clear: both;
 float: left;
 width: 100%;
}

.overall li {
 height: 16px;
 line-height: 16px;
 margin-bottom: 7px;
}

.overall ul img {
 vertical-align: middle;
}

.overall h4 {
 clear: both;
 margin-bottom: 15px;
 font-size: 24px;
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
 height: 1%;
}

.overall h5 {
 margin-right: 5px;
 font-size: 14px;
 display: inline;
 color: white;
 font-weight: normal;
}

.overall .loyaltyHeader {
 float: left;
 margin-right: 10px;
}

.overall .loyaltyMore {
 float: left;
 top: 5px;
}

.overall .stat {
 padding-left: 25px;
 background: url('../img/adventurers-log/sprite-stats.png') no-repeat;
}

.overall .stat.attack {
 background-position: left -72px;
}

.overall .stat.defence {
 background-position: left -39px;
}

.overall .stat.strength {
 background-position: left -22px;
}

.overall .stat.constitution {
 background-position: left -54px;
}

.overall .stat.level {
 font-weight: normal;
 padding-left: 0;
 padding-right: 25px;
 background-position: right 0;
}

.overall h5,
.overall strong {
 vertical-align: middle;
}

.overall strong,
.overall .aura {
 font-weight: normal;
 position: relative;
}

.overall strong {
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
 top: -1px;
}

.aura {
 display: inline;
 z-index: 10;
}

.aura > img {
 width: 29px;
 height: 29px;
}

.compareButton,
.profileSettings {
 clear: both;
}

/* -----------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------- SKILLS --*/
/* -----------------------------------------------------------------------------------------------*/

.secondaryContent.OrnamentalBox {
 overflow: visible;
 margin-bottom: 20px;
}

.secondaryContent.OrnamentalBox.Width311 .OrnamentalBoxContent {
 overflow: visible;
 min-height: 354px;
}

.secondaryContent .OrnamentalBoxContent:after {
 content: "";
 display: table;
 clear: both;
}

.secondaryContent .FilterControl {
 display: none;
 left: auto;
 right: -63px;
 top: -49px;
 background: none;
}

.secondaryContent .FilterControlSemaphore {
 background-image: url('../img/adventurers-log/FilterControlSemaphore.png');
 background-position: right top;
 left: -6px;
}

.secondaryContent .FilterControlVisible ul {
 margin-left: 0;
}

.secondaryContent .FilterControlVisible ul li {
 margin-left: -10px;
 background-image: url('../img/adventurers-log/TabBg.png');
 background-position: right top;
}

.secondaryContent .FilterControlVisible ul li img {
 left: 5px;
 right: auto;
}

.secondaryContent .FilterControlVisible ul li.selected,
.secondaryContent .FilterControlVisible ul li:hover {
 margin-left: 0;
}

.secondaryContent .FilterControlMask {
 background: none;
}

.skills-matrix {
 position: relative;
 z-index: 11;
 display: none;
 padding-left: 21px;
}

.skills-matrix:hover {
 z-index: 12;
}

.skills-matrix.selected {
 display: block;
}

.skills-matrix li {
 margin: 14px 24px 13px 0;
 float: left;
 z-index: 1;
 background: url(../img/adventurers-log/bg-skill.png) left top no-repeat;
}

.skills-matrix li:hover {
 z-index: 2;
}

.skills-matrix img {
 width: 59px;
 height: 59px;
}

.skills-matrix .TipBubble {
 bottom: -80px;
 right: -20px;
}


/* -----------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------- ORNATE BLOCKS -*/
/* -----------------------------------------------------------------------------------------------*/

.block {
 float: left;
 width: 396px;
 min-height: 262px;
 padding: 10px 0 0 38px;
}

.block-right {
 float: right;
 padding: 10px 38px 0 0;
}

.block table {
 margin-top: 8px;
 width: 100%;
}

.block caption,
.block h6.caption {
 padding-bottom: 8px;
 margin-bottom: 7px;
 font-size: 24px;
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
 color: #f3b13f;
 min-width: 200px;
 background: url('../img/adventurers-log/bg-caption.png') no-repeat center bottom;
 font-weight: normal;
}

.block h6.caption {
 text-align: center;
}

.block .graph h6.caption {
 margin-bottom: 20px;
}

.block thead * {
 border: 0;
 border-bottom: 1px solid #635035;
}

.block thead th {
 font-size: 10px;
 color: #b8b8b8;
}

.block th:first-child, .block td:first-child {
 border-left: 0;
}

.block th,
.block td {
 padding: 8px 10px;
 border-left: 0;
 border-right: 0;
 vertical-align: middle;
}

.block td {
 font-size: 12px;
 color: #b8b8b8;
}

.block th.description {
 width: 100%;
}

.block tbody th {
 line-height: 24px;
}

.block tbody th,
.block tbody th a {
 color: #38c8f7;
}

.icon,
.icon img {
 margin: 0;
 width: 21px;
 height: 21px;
}

.date {
 white-space: nowrap;
}



/* -----------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------ GAME PROGRESS - */
/* -----------------------------------------------------------------------------------------------*/

.game-progress {
 margin: 0 auto 30px;
}

.game-progress:last-child {
 margin-bottom: 80px;
}

.progress {
 position: relative;
 display: block;
 width: 59px;
 height: 22px;
 overflow: hidden;
 font-size: 8px;
}

.progress.active {
 text-indent: -9999px;
 background: url('../img/adventurers-log/sprite-skill-percent.png') no-repeat 0 -22px;
}

.progress.complete.active {
 background-position: 0 0;
}

.progress div {
 margin: 7px auto 0;
 width: 45px;
 height: 4px;
 display: block;
 position: relative;
}

.progress span {
 top: 0;
 left: 0;
 width: 0%;
 height: 4px;
 position: absolute;
 background: url('../img/adventurers-log/sprite-skill-percent.png') no-repeat center bottom;
}

.graph,
.quest-log {
 position: relative;
 float: left;
 height: 227px;
 width: 100%;
}

.graph h6 {
 margin-top: 8px;
}

.quest-log {
 display: none;
}

.log .graph {
 display: none;
}

.log .quest-log {
 display: block;
}

.graph table {
 float: right;
 width: 190px;
 margin-top: 4px;
}

.graph table thead {
 display: none;
}

.graph table th, .quest-status .graph table td {
 padding: 6px 0;
 border-width: 0 0 1px;
 white-space: nowrap;
 text-align: left;
}

.graph table tbody th {
 color: #b8b8b8;
}

.graph table tbody td:first-child {
 font-size: 20px;
 font-family: KingthingsPetrockRegular,Times New Roman,serif;
}

.graph table th, .quest-status .graph table td.total {
 text-align: right;
}

.graph table td.total {
 color: #f3b13f;
}

.graph table td.total span {
 color: #505050;
}

.graph table tfoot td {
 text-align: center;
 color: #404040;
 border: 0;
}

.graph table td.completed {
 color: #10e12d;
}

.graph table td.in-progress {
 color: #d4987e;
}

.graph table td.available {
 color: #3464ef;
}

.graph .invisible {
 visibility: hidden;
}

.graph table td.sum {
 text-align: center;
 border-bottom: 0;
}

.visualize {
 margin: 0;
 padding: 0 0;
}

.visualize canvas {
 margin: -1px;
}

.visualize-pie .visualize-labels {
 display: none;
}

.quest-toggle {
 display: none;
 top: auto;
 bottom: -15px;
 right: 42px;
 position: absolute;
}

.js .quest-toggle {
 display: block;
}

.quest-log-view {
 display: none;
}

.quest-log-view.selected {
 display: block;
}

.quest-log h6 {
 position: relative;
 z-index: 2;
 margin-top: 8px;
 margin-bottom: -7px;
}

.quest-log .quest-log-dropdown {
 position: absolute;
 left: 134px;
 top: 34px;
 z-index: 1;
}

.quest-log table {
 width: 375px;
}

.quest-log .viewport {
 position: relative;
 height: 132px;
 top: 18px;
 overflow-y: auto;
}
.eventsWrapper {
 position: relative;
}
.eventsInfoBubble{
 position: absolute;
 z-index: 20;
 width: 405px;
 font-size: 13px;
 font-family: MuseoSans500,Arial,Times New Roman,serif;
 display: none;
 font-size: 11px;
 bottom: 20px;
 left: -10px;
}
.eventsInfoBubble .top,
.eventsInfoBubble .middle,
.eventsInfoBubble .bottom {
 background-image: url('../img/global/tooltips/LargeStretchyBubble.png');
}
.eventsInfoBubble .top{
 height: 31px;
 background-position: top left; 
 background-repeat: no-repeat;
 display: block;
}
.eventsInfoBubble .middle{
 background-position: top center; 
 background-repeat: repeat-y;
 display: block;
 padding: 0 16px 0 21px;
 text-align: left;
 overflow: hidden;
 margin-top: -20px;
 line-height: 1.5em;
 min-height: 20px;
 color: #B8B8B8;
}
.eventsInfoBubble .bottom{
 height: 31px;
 background-position: top right; 
 background-repeat: no-repeat;
 display: block;
 margin-top: -5px;
}
.eventTitle {
 cursor: default;
}


/* -----------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------- FRIENDS ACTIVITY -*/
/* -----------------------------------------------------------------------------------------------*/

.friends-list {
 padding-top: 18px;
}

.friends-list .viewport {
 position: relative;
 height: 244px;
 overflow-y: auto;
}

.friends-list h6 {
 margin-top: 0;
}

.friends-list table {
 margin-top: 0;
 margin-bottom: 15px;
 width: 375px;
}

.overall h4.appearance {
 margin: 0;
}