

/* nebula */

.Box.DarkHexTopTwoThirds,
.Box.DarkHexTwoThirds {
 margin-bottom:30px;
}

.BubbleBox {
 display: none;
}

#EntryBox.BubbleContainer {
 background: none;
 border: none;
 padding-bottom: 16px;
}

#EntryBox.BubbleContainer textarea {
 height: 84px;
 font-family: arial,helvetica,freesans,sans-serif;
 font-size: 13px;
 padding: 3px;
 width: 633px;
}

#EntryBox.BubbleContainer .Button33 {
 position: absolute;
 float: none;
 top: 104px;
 right: 9px;
}

#EntryBox.BubbleContainer .BubbleContents {
 padding-bottom: 52px;
}

#LastBubble.BubbleContainer {
 border-bottom: none;
}

.BubbleBox .BoxContents {
 overflow: hidden;
}

#commentsNoNew {
 font-size: 15px;
 font-weight: bold;
 padding: 40px;
 text-align: center;
}

.BubbleBox .BoxContents h2 {
 padding: 10px 0 10px 20px;
}

.BubbleBox .Button {
 float: right;
 margin: 9px 9px 9px 0;
}

.BubbleContainer.ActiveUser {
 background-color: #041928;
}

.BubbleContainer.New {
 display: none
}

#ErrorText {
 color: red;
 font-size: 14px;
 padding: 0 20px;
 vertical-align: text-bottom;
}

#post_status {
 display: none;
 position: absolute;
 top: 119px;
 left: 15px;
 font-weight: bold;
}


.sm0,.sm1,.sm2,.sm3,.sm4,.sm5,.sm6,.sm7,.sm8,.sm9 { width: 15px; height: 15px; background-image: url('../g%3drunescape/img/forum/smileys.gif'); }
.sm0 { background-position: 0px; }
.sm1 { background-position: 135px; }
.sm2 { background-position: 120px; }
.sm3 { background-position: 105px; }
.sm4 { background-position: 90px; }
.sm5 { background-position: 75px; }
.sm6 { background-position: 60px; }
.sm7 { background-position: 45px; }
.sm8 { background-position: 30px; }
.sm9 { background-position: 15px; }