
#banner_Container,
#banner_Container #headerMask {
    width: 1036px;
}

#banner_Container {
    position: relative;
    z-index: 1;
    margin: -36px auto 0 auto;
    background: url(../img/main/community/banner-bg.png) no-repeat top left;
    height: 529px;
}

#banner_Container #headerMask {
    background: url(../img/main/community/headerMask.png) center no-repeat;
    top: 36px;
    left: 0;
    position: absolute;
    height: 33px;
    z-index: 2;
}

#banner_Container #banner {
    margin: auto;
    width: 1000px;
    height: 384px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#banner #bannerReel {
    background: black;
}

#banner #bannerReel img,
#banner #bannerReel object {
    display: block;
    width: 1000px;
    height: 384px;
    float: left;
}

#banner #PlayNowWrapper {
    position: absolute;
    bottom: 110px;
    padding: 0;
    left: 135px;
}

#banner_Container #bannerBorder {
    position: absolute;
    background: url(../img/main/community/banner-border.png);
    height: 24px;
    width: 1000px;
    position: absolute;
    bottom: 109px;
    left: 18px;
    z-index: 2;
}

#banner_Container #ctaOuterContainer {
    position: absolute;
    bottom: 0;
    width: 962px;
    height: 185px;
    background: url(../img/main/community/cta-outer-bg.png);
    left: 37px;
    z-index: 3;
}

#banner_Container .PTout {
    background: url(http://www.runescape.com/img/main/community/cta-outer-bg.png) !important;
}

#ctaOuterContainer #ctaInnerContainer {
    background-image: url(../img/main/community/cta-inner-bg.jpg);
    width: 912px;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 25px;
}

#ctaOuterContainer .PTin {
    background: url(http://www.runescape.com/img/main/community/cta-inner-bg-levelup.jpg) !important;
}

#bannerSwitcher {
    bottom: 147px;
    left: 303px;
    position: absolute;
    width: 351px;
    height: 40px;
}

#bannerPrevious,
#PromoPoints,
#bannerNext {
    position: absolute;
}

#bannerPrevious,
#bannerNext {
    top: 2px;
    width: 90px;
    height: 42px;
}

#bannerPrevious {
    left: 0;
}

#bannerNext {
    right: 0;
}

#ctaInnerContainer a {
    width: 233px;
    height: 115px;
    display: block;
    position: absolute;
    bottom: 15px;
}

#ctaInnerContainer a img {
    display: none;
}

#ctaInnerContainer a.ctaHover:hover img {
    display: block;
}

#ctaInnerContainer a#ctaMembers {
    left: 5px;
}

#ctaInnerContainer a#ctaClans {
    left: 227px;
}

#ctaInnerContainer a#ctaGrandExchange {
    right: 230px;
}

#ctaInnerContainer a#ctaMembership {
    right: 5px;
}