




.clearB{ clear:both; }

#background {
  background: url("http://www.runescape.com/img/main/beginnersguide/bg-image-large.jpg") no-repeat scroll center top transparent;
}

#mainnav {
  float: right;
  left: 250px;
  position: absolute;
  top: 50px;
  font-size: 125%;
}

.HoverGradient2 {
  font-size:18px;
}

.mainnavsection, .mainnavsectionh {
  float:left;
  padding: 10px 17px;
}

.mainnavsectionh {
  padding: 5px 17px;
}

.mainnavsectionh .Gradient_link4 * {
  color: #939393;
  letter-spacing: 0.02em;
}

.mainnavsectionh .Gradient_link4 .g1 {
  color: #a8a8a8;
  letter-spacing: 0.02em;  
}

.mainnavsectionh .Gradient_link4 .g2 {
  color: #bfbfbf;
  letter-spacing: 0.02em;  
}

.mainnavsectionh .Gradient_link4 .g3 {
  color: #d4d4d4;
  letter-spacing: 0.02em;  
}

.mainnavsectionh .Gradient_link4 .g4 {
  color: #ececec;
  letter-spacing: 0.02em;  
}

.mainnavsectionh .Gradient_link4 .g5 {
  color: #ffffff;
  letter-spacing: 0.02em;  
}
#maintop,
#maintop2,
#maintop3 {
  background: url("../img/main/beginnersguide/heroes.png") no-repeat scroll right top transparent;
  margin: 0px 45px;
  padding: 30px 0 10px 0;
  width: 910px;
}

#maintop2 {
  background: url("../img/main/beginnersguide/bg-archer.jpg") no-repeat scroll 308px 5px transparent;
}

#maintop3 {
  background: url("../img/main/beginnersguide/bg-linza.jpg") no-repeat scroll 360px 5px transparent;
}

.whatisrs {
  padding: 30px 485px 0 60px;
}

#MainContent p {
  line-height: 20px;
  margin: 20px auto 0;
  color: #b8b8b8;
}

#maintop h2 {
  margin: 10px 0 0 0;
}

#mainbottom h2 {
  margin: 10px 0 0 0;
}

.orangeheader {
  font-size: 26px;
  color: #f3b13f;
  font-weight: normal;
  font-family: KingthingsPetrockRegular,Times New Roman,serif;;
}

.relatedtopics {
  background: url("../img/main/beginnersguide/sword.png") no-repeat scroll 40px center transparent;
  padding: 0 40px 0 450px;
}

.videoplayerbutton {
  height: 41px;
  padding: 120px 72px 0 43px;
  width: 251px;
  background: url("../img/main/beginnersguide/trailer-bg.jpg") no-repeat scroll center top transparent;  
}

.videoplayerlinks {
  padding: 10px 0;
  text-align: center;
}

.videoplayerlinks ul.main{
  list-style: none;
  margin: 0;
}

.videoplayerlinks ul.main>li{
  font-family: KingthingsPetrockRegular,Times New Roman,serif;;
  font-size: 18px;
  padding: 5px;
}

.videoplayerlinks ul.main li a{
  -moz-transition: color 1s;
  text-decoration: none;
}

.videoplayerlinks ul.main li a:hover{
  -moz-transition: color 1s;
  color: white
}

.parchment {
  float: left;
  padding: 20px 9px 0 0;
}

.wirsbutton {
  margin: 0 0 0 -5px;
  padding: 20px 0 0;
}

#mainbottom,
#mainbottom2 {
  background: url("../img/main/beginnersguide/bg-bottom.jpg") no-repeat scroll left bottom transparent;
  margin: 0px 45px;  
  clear: both;
}

#mainbottom2 {
  background: url("../img/main/beginnersguide/bg-bottom-GS.jpg") no-repeat scroll left bottom transparent;
}

.wmru {
  float: left;
  padding: 20px 0 0 60px;
  width: 355px;
}

.livingworld {
  padding: 10px 65px 0 0px;
  float: right;
  width: 360px;
  clear: right;
}

.screenshot {
  float: right;
  padding: 50px 0 40px;
  position: relative;
  width: 431px;
}

.navBottom {
  height: 40px;
  left: 258px;
  padding: 40px 0 60px;
  position: relative;
  text-align: center;
  clear: both;
}

.navBottomNext .WoodenPanel {
  background: url("../img/main/beginnersguide/nextBG.png") no-repeat scroll 8px 2px transparent;
  padding: 10px 10px 10px 0px;
}

.navBottomPrev .WoodenPanel {
  background: url("../img/main/beginnersguide/PrevBG.png") no-repeat scroll -2px 0px transparent;
  padding: 10px 0px 10px 10px;
}

.navBottomNext,
.navBottomPrev,
.navBottomMid {
  float: left;
  position: relative;
}

.navBottomPrev {
  padding: 2px 0 0 0;
}

.navBottomMid {
  padding: 12px 0 0 9px;
}

.blankNext {
  padding: 2px 0 0 9px;
}

.topLeftBar {
  position: absolute;
  left: 68px;
  top: 100px;
}

.Gradient_link2 {
  z-index: 0;
}

#MainContent {
  margin: 0 auto 23px;
}

.OrnamentalBox.Width417 .OrnamentalBoxContent {
 padding: 0 25px;
 margin-top: -42px;
}

.playnow {
 padding-top: 30px;
}

#PlayNowWrapperPlayFree {
 height: 59px;
 width: 173px;
}

/* whats next? boxes */

.whatsnext {
 float: left;
 padding: 20px 0 0 60px;
 width: 355px;
}

.trainingskills {
 float: left;
 clear: left;
 padding: 20px 0 0 60px;
 width: 355px;
}

.questing {
 float: right;
 padding: 20px 60px 0 0;
 width: 355px;
}

.minigames {
 float: left;
 padding: 20px 0 0 60px;
 width: 355px;
 clear: both;
}

.events {
 float: left;
 padding: 20px 0 0 60px;
 width: 355px;
}

.guilds {
 float: right;
 padding: 20px 60px 0 0;
 width: 355px;
}

.trading {
 float: right;
 padding: 20px 60px 0 0;
 width: 355px;
}

#mainMiddle, #mainMiddleLower, #mainBottom {
  margin: 0px 45px;
  padding: 30px 0 10px 0;
  width: 910px;
}

.vampireLair {
  float: left;
  padding-left: 10px;
  padding-top: 60px;
  position: relative;
}

.spiderDj {
  float: right;
  padding-right: 100px;
  padding-top: 30px;
  position: relative;
}

.roundhouse {
  float: left;
  padding-left: 80px;
  position: relative;
}

.floatLeft {
 float: left;
 clear: left;
 padding: 10px 0 0 65px;
 width: 360px;
}

.floatRight {
 float: right;
 clear: right;
 padding: 10px 65px 0 0;
 width: 360px;
}

#mainmiddle .floatRight li {
 line-height: 23px;
 padding-left: 25px;
 background: url("../img/main/splash/bulletPoint.png") no-repeat scroll 0 1px transparent;
 list-style: none;
}

#mainmiddle {
 margin: 0px 45px;
 padding: 30px 0 10px 0;
 width: 910px; 
 clear: both;
}

.oldman {
  float: left;
  padding-left: 40px;
  padding-top: 90px;
  position: relative;
}