
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/* Structure */
/* Colors */
/* Fonts */
/* Radiuses */
/* Transitions */
/* Breakpoints */
/* Misc */
@font-face {
    font-family: 'MuseoSans';
    src: url('../../img/rs3/img/comapp/fonts/MuseoSans_500-webfont-2.eot');
    src: url('../../img/rs3/img/comapp/fonts/MuseoSans_500-webfont-2.eot#iefix') format("embedded-opentype"), url('../../img/rs3/img/comapp/fonts/MuseoSans_500-webfont-2.woff') format("woff"), url('../../img/rs3/img/comapp/fonts/MuseoSans_500-webfont-2.ttf') format("truetype"), url('../../img/rs3/img/comapp/fonts/MuseoSans_500-webfont-2.svg') format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../../img/rs3/img/comapp/fonts/museosans_300-2.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../../img/rs3/img/comapp/fonts/museosans_700-2.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-size: 62.5%;
    font-family: "MuseoSans", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 15px;
}

input, textarea {
    font-size: 1em;
    font-family: "MuseoSans", sans-serif;
}

a {
    color: #aec3c5;
    text-decoration: none;
}

p {
    color: #aec3c5;
    font-size: 13px;
    line-height: 1.2em;
}

.clearfix:before, .multi-radio-wrap:before, .button-group:before, .pill-wrap:before, .login form:before, .clearfix:after, .multi-radio-wrap:after, .button-group:after, .pill-wrap:after, .login form:after {
    content: "";
    display: table;
}

.clearfix:after, .multi-radio-wrap:after, .button-group:after, .pill-wrap:after, .login form:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.centered {
    text-align: center;
}

.hidden, .ng-hide {
    display: none;
}

.build-time {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px #000;
    color: rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Web app specific stuff */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

* ::-webkit-scrollbar {
    display: none;
}

/* Feature support */
body {
    background: #0d252f url('../../img/rs3/img/comapp/background-5.jpg') repeat-x 50% 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        -webkit-background-size: 600px, 600px;
        -moz-background-size: 600px, 600px;
        background-size: 600px, 600px;
    }
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .content {
        -webkit-background-size: 600px, 600px;
        -moz-background-size: 600px, 600px;
        background-size: 600px, 600px;
    }
}

.add-app .logo {
    width: 100%;
    height: 120px;
    margin: 50px 0;
    text-indent: -9999px;
    background: url('../../img/rs3/img/comapp/logo-5.png') no-repeat 50% 50%;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
}

.add-app div {
    text-align: center;
}

.add-app .add-to-home-screen {
    position: fixed;
    bottom: 30px;
    width: 100%;
    padding: 0 20px;
    font-size: 15px;
}

.add-app h2 {
    margin-bottom: 20px;
    color: #fefefe;
}

.add-app strong {
    margin: 20px 0 5px;
    color: #fea520;
}

.add-app strong, .add-app em {
    display: block;
    font-size: 1.3em;
}

.add-app .arrow {
    display: block;
    font-size: 3em;
    color: #aec3c5;
}

.add-app .arrow.ipad {
    position: fixed;
    top: 20px;
    left: 133px;
}

.add-app .arrow.iphone {
    margin-top: 20px;
    text-align: center;
}

.add-app .ios-logo {
    display: inline-block;
    width: 175px;
    height: 52px;
    margin: 0 0 20px 0;
    background-image: url('../../img/rs3/img/comapp/app-stores/ios.svg');
    text-indent: -9999px;
    background-size: auto 100%;
}

.add-app .google-play-logo {
    display: inline-block;
    width: 149px;
    height: 52px;
    margin: 0 0 20px 0;
    background-image: url('../../img/rs3/img/comapp/app-stores/google-play.png');
    text-indent: -9999px;
    background-size: auto 100%;
}
