html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1em
}

ul {
    list-style: none
}

li a:active, li a:focus, a:active, a:focus {
    outline: 0
}

body {
    line-height: 1;
    font-size: 62.5%;
    text-align: left
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

a {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

a img {
    border-style: none;
    border-width: 0
}

fieldset {
    border: 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input, select {
    vertical-align: middle
}

p {
    line-height: 150%
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent
}

::selection {
    background-color: #8eb0c0;
    color: #fff
}

::-moz-selection {
    background-color: #8eb0c0;
    color: #fff
}

::-webkit-input-placeholder {
    color: #536066 !important;
    font-style: italic
}

:-moz-placeholder {
    color: #536066 !important;
    font-style: italic
}

::-moz-placeholder {
    color: #536066 !important;
    font-style: italic
}

:-ms-input-placeholder {
    color: #536066 !important;
    font-style: italic
}

ul:before, ul:after, .clear:before, .clear:after {
    content: " ";
    display: table
}

ul:after, .clear:after {
    clear: both
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

html, body {
    height: 100%
}

body {
    font-family: "MuseoSans500";
    background: #071b25 url('../img/background-main.jpg') repeat 0 0;
    color: #d7dbe1
}

#legacy {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.9em;
    font-family: MuseoSans500, Arial, Times New Roman, serif;
    background: black;
    color: #D4D4D4;
    margin: 0;
    overflow-y: scroll;
    height: 100%
}

a {
    text-decoration: none;
    color: #b2dbee
}

a:hover {
    color: #e1bb34
}

h1, h2, h3, h4, h5, h6 {
    color: #e1bb34;
    font-family: "trajan-pro-3";
    font-weight: normal
}

h1 {
    font-size: 8.6em
}

h2 {
    font-size: 2.4em
}

h3 {
    font-size: 2.2em
}

h4 {
    font-size: 1.6em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1.5em
}

@media screen and (min-width: 1500px) {
    .header > .top:before, .header > .top:after {
        content: '';
        background: transparent url('../img/sprite_main-2.png') no-repeat 0 -527px;
        width: 176px;
        height: 57px;
        position: absolute;
        bottom: -23px;
        z-index: 2
    }

    .header > .top:after {
        background-position: 0 -594px;
        right: 0
    }

    .banner:before, .banner:after {
        content: '';
        background: transparent url('../img/sprite_splash.png') no-repeat 0 -2857px;
        width: 175px;
        height: 56px;
        position: absolute;
        z-index: 2;
        bottom: -20px
    }

    .banner:after {
        background-position: 0 -2924px;
        right: 0
    }
}

.wrap {
    width: 1000px;
    margin: 0 auto
}

.svg .gradient {
    filter: none !important
}

time {
    font-family: "MuseoSans500"
}

.floatright {
    float: right;
    display: inline
}

.floatleft {
    float: left;
    display: inline
}

.relative {
    position: relative
}

.textCenter {
    text-align: center
}

.textRight {
    text-align: right
}

.stickyWrap {
    min-height: 100%
}

.tooltipOuter {
    position: relative;
    display: inline
}

.tooltipLink {
    cursor: help
}

.tooltipDescription {
    background: url('../img/content_repeat_y.jpg') repeat scroll 0 0 transparent;
    border: 1px solid #2E3F49;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 10px;
    position: absolute;
    width: 260px;
    z-index: 10
}

.tooltipDescription p, .tooltipDescription span {
    font-size: 11px;
    color: #a9acad;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7)
}

div.contents {
    background-image: url('../img/background-content-top.jpg'), url('../img/background-content-bottom.jpg');
    background-repeat: repeat-x;
    background-position: 0 334px, bottom left;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 75px;
    overflow: visible;
    padding-bottom: 172px
}

.contents:before, .contents:after {
    content: '';
    display: table
}

.main, main {
    display: block;
    width: 1000px;
    margin: 0 auto;
    background: transparent url('../img/content_repeat_y.jpg') repeat-y 0 0;
    -moz-box-shadow: 0px 355px 15px 12px #000;
    -webkit-box-shadow: 0px 355px 15px 12px #000;
    position: relative;
    box-shadow: 0px 355px 15px 12px #000
}

.unavailable main, .unavailable .main {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.main:before, .main:after, main:before, main:after {
    content: " ";
    display: table
}

.main:after, main:after {
    clear: both
}

.trackingLink {
    font-size: 0;
    text-indent: -9999px
}

.loadingAnim {
    background: url('../img/global/content/CircleLoader.gif') transparent;
    width: 54px;
    height: 55px
}

.patternedBorder:before {
    background: url('../img/background-bar-repeat.png') repeat-x scroll 0 0 transparent;
    box-shadow: 0 10px 9px 0 black;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.errorMessage {
    padding: 10px;
    color: #e1bb34;
    background: #450604;
    border: 1px solid #355563;
    border-radius: 6px;
    width: 100%
}

.home .main {
    margin-top: 395px;
    box-shadow: 0 0 25px -10px #000;
    -webkit-box-shadow: 0 0 25px -10px #000;
    -moz-box-shadow: 0 0 25px -10px #000
}

.home .contents {
    background-position: 0 485px, bottom left
}

.lt-ie8 .contents, .lt-ie8 ul {
    zoom: 1
}

.lt-ie8 .main {
    zoom: 1
}

.lt-ie9 .contents {
    background: transparent url('../img/background-content-top.jpg') repeat-x 0 0
}

.lt-ie8 .statements {
    position: relative;
    top: 320px
}

.lt-ie8 .fr .statements {
    position: relative;
    top: 300px
}

.floatleft {
    float: left;
    display: inline
}

.floatright {
    float: right;
    display: inline
}

.banner {
    position: absolute;
    clear: both;
    overflow: visible;
    width: 100%
}

.banner .inner {
    height: 560px;
    overflow: hidden
}

.home .banner .inner {
    height: 560px
}

.banner img {
    left: 50%;
    margin-left: -970px;
    position: relative;
    width: 1920px;
    display: block
}

.csstransforms .banner img {
    margin-left: 0;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%)
}

.banner .overlay {
    width: 1000px;
    margin: 0 auto
}

.banner .slides li {
    height: 606px;
    overflow: hidden
}

.banner .flex-control-nav {
    background: transparent url('../img/carouselBtnBg.png') no-repeat top center;
    position: relative;
    z-index: 500;
    width: 100%;
    bottom: 165px;
    list-style: none;
    text-align: center;
    padding-top: 6px
}

.banner .flex-control-nav li {
    display: inline-block;
    margin: 6px -3px
}

.banner .flex-control-nav li:first-of-type {
    margin-left: 5px
}

.banner .flex-control-nav li:last-of-type {
    margin-right: 5px
}

.banner .flex-control-nav a {
    background: transparent url('../img/radio.png') no-repeat top center;
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 1pt;
    cursor: pointer;
    margin: 0 -3px
}

.banner .flex-control-nav a.flex-active {
    background: transparent url('../img/radio-checked.png')
}

.slides li {
    display: none;
    overflow: hidden
}

.slides li:first-child {
    display: block
}

.flex-direction-nav a {
    display: block;
    text-indent: -9999px;
    background: transparent url('../img/sprite_splash.png') no-repeat 0 -524px;
    width: 69px;
    height: 77px;
    position: absolute;
    top: 205px;
    left: 0
}

.flex-direction-nav .flex-next {
    background-position: 0 -230px;
    left: auto;
    right: 0
}

.flex-direction-nav a:hover {
    background-position: 0 -611px
}

.flex-direction-nav .flex-next:hover {
    background-position: 0 -317px
}

.lt-ie8 .carousel img {
    margin-left: -950px
}

.lt-ie8 .flex-direction-nav li {
    position: absolute;
    top: 155px;
    right: 0
}

.lt-ie8 .flex-direction-nav li:first-child {
    right: auto;
    left: 0
}

.lt-ie8 .flex-direction-nav a {
    top: 0
}

.lt-ie9 .carousel:before, .lt-ie9 .carousel:after {
    display: none;
    background: none
}

.lt-ie9 .banner:before, .lt-ie9 .banner:after {
    display: none
}

.lt-ie8 .slides li {
    position: relative
}

.lt-ie8 .banner {
    overflow: hidden
}

.banner__video, .banner .banner__video-fallback {
    height: 560px;
    left: 50%;
    margin-left: -960px;
    margin-top: 3px;
    position: relative;
    width: 1920px
}

html.no-autoplay .banner__video, html.no-autoplay.lt-ie9 .banner__video {
    display: none
}

html.no-autoplay.lt-ie10 .banner__video {
    display: block
}

.banner .banner__video-fallback {
    display: none
}

html.no-autoplay.lt-ie10 .banner .banner__video-fallback {
    display: none
}

html.no-autoplay .banner .banner__video-fallback, html.no-autoplay.lt-ie9 .banner .banner__video-fallback {
    display: block
}

.banner__video-link {
    background: url('../img/banners/Dimension_of_Disaster_text.png') no-repeat center;
    color: transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.banner__video-link:hover {
    color: transparent;
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    filter: brightness(1.3)
}

.breadcrumb {
    padding: 12px 10px 12px 33px;
    position: relative;
    right: 10px;
    width: 97.5%;
    background: #071b25 url('../img/6-box-top.jpg') repeat 355px 0;
    box-shadow: 0 10px 10px 0 #000, 0 -10px 10px -4px #000;
    -moz-box-shadow: 0 10px 10px 0 #000, 0 -10px 10px -4px #000;
    -webkit-box-shadow: 0 10px 10px 0 #000, 0 -10px 10px -4px #000;
    font-size: 1.2em;
    font-family: "MuseoSans500";
    z-index: 25
}

.breadcrumb li {
    padding-right: 5px;
    display: inline;
    color: #495255
}

.breadcrumb a {
    color: #b3bfc5
}

.breadcrumb a:hover {
    color: #e1bb34
}

.breadcrumb li:before {
    content: '>';
    margin-right: 8px;
    color: #8eb0c0
}

.breadcrumb li:first-child:before {
    content: ''
}

.breadcrumb li:last-child {
    color: #fff
}

.bullets {
    color: #e1bb34;
    font-size: 1.6em;
    line-height: 1.88em;
    margin: 15px 0 0 15px
}

ul.bullets {
    list-style-type: disc
}

ul.bullets.spacing {
    margin-bottom: 30px
}

.bullets li {
    margin: 13px 0 0 0;
    line-height: 1.2em
}

.bullets span {
    color: #d7dbe1
}

.btnWrap {
    margin-top: 20px
}

.btnWrap--inline {
    display: inline-block
}

.btn {
    display: inline-block;
    color: #000;
    font-family: "trajan-pro-3";
    font-size: 1.4em;
    height: 46px;
    background: transparent url('../img/sprite-btn.png') no-repeat 0 0;
    padding-left: 10px;
    text-shadow: 1px 1px 2px #ecc622
}

.btn a, .btnRight {
    color: #000;
    display: block;
    background: transparent url('../img/sprite-btn.png') no-repeat right -203px;
    padding-right: 12px;
    cursor: pointer
}

.btnRight {
    height: 38px;
    float: left
}

.btn span, .btn input[type="submit"], .btn button {
    display: block;
    background: transparent url('../img/sprite-btn.png') repeat-x 0 -102px;
    padding: 14px 10px 0;
    height: 32px;
    cursor: pointer;
    white-space: nowrap;
    outline: 0
}

.less .btn span:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 11px;
    margin-left: 0px;
    background: transparent url('../img/_sprite/btn-arrow-left.png') no-repeat 0 0
}

.more .btn span:after, .more .btnRight:after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 7px #000
}

.more .btnRight {
    position: relative
}

.more .btnRight:after {
    position: absolute;
    top: 15px;
    right: 20px
}

.showMore .btn span:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    background: transparent url('../img/arrow-show-more.png') no-repeat 0 2px;
    width: 9px;
    height: 11px
}

.btn input[type="submit"], .btn button {
    border: none;
    font-family: "trajan-pro-3";
    height: 38px;
    margin: 0;
    cursor: pointer;
    padding-top: 4px;
    height: 41px;
    outline: 0
}

.btn:focus input[type="submit"], .btn input[type="submit"]:focus, .btn button:focus {
    outline: 0
}

.btn:hover {
    background-position: 0 -51px
}

.btn:hover a, .btn:hover .btnRight {
    background-position: right -254px;
    color: #000
}

.btn:hover span, .btn:hover input[type="submit"] {
    background-position: 0 -153px
}

.btnWrap.blue .btn, .btnWrap.yellow .btn, .btnWrap.green .btn {
    padding-left: 12px
}

.btnWrap.blue .btn, .btnWrap.blue .btn a, .btnWrap.blue .btn .btnRight, .btnWrap.blue .btn span, .btnWrap.blue .btn input[type="submit"], .btnWrap.blue .btn button {
    background: url('../img/btn-blue.png') no-repeat scroll 0 0 transparent
}

.btnWrap.yellow .btn, .btnWrap.yellow .btn a, .btnWrap.yellow .btn .btnRight, .btnWrap.yellow .btn span, .btnWrap.yellow .btn input[type="submit"], .btnWrap.yellow .btn button {
    background: url('../img/btn-yellow.png') no-repeat scroll 0 0 transparent
}

.btnWrap.green .btn, .btnWrap.green .btn a, .btnWrap.green .btn .btnRight, .btnWrap.green .btn span, .btnWrap.green .btn input[type="submit"], .btnWrap.green .btn button {
    background: url('../img/btn-green.png') no-repeat scroll 0 0 transparent
}

.btnWrap.blue .btn:hover, .btnWrap.yellow .btn:hover, .btnWrap.green .btn:hover {
    background-position: 0 -46px
}

.btnWrap.blue .btn a, .btnWrap.blue .btn .btnRight, .btnWrap.yellow .btn a, .btnWrap.yellow .btn .btnRight, .btnWrap.green .btn a, .btnWrap.green .btn .btnRight {
    background-position: right -184px
}

.btnWrap.blue .btn:hover a, .btnWrap.blue .btn:hover .btnRight, .btnWrap.yellow .btn:hover a, .btnWrap.yellow .btn:hover .btnRight, .btnWrap.green .btn:hover a, .btnWrap.green .btn:hover .btnRight {
    background-position: right -230px
}

.btnWrap.blue .btn span, .btnWrap.blue .btn input[type="submit"], .btnWrap.blue .btn button, .btnWrap.yellow .btn span, .btnWrap.yellow .btn input[type="submit"], .btnWrap.yellow .btn button, .btnWrap.green .btn span, .btnWrap.green .btn input[type="submit"], .btnWrap.green .btn button {
    background-position: 0 -92px;
    background-repeat: repeat-x;
    text-shadow: 1px 1px 1px #27b9ce
}

.btnWrap.yellow .btn span, .btnWrap.yellow .btn input[type="submit"], .btnWrap.yellow .btn button {
    text-shadow: 1px 1px 1px #ffe822
}

.btnWrap.green .btn span, .btnWrap.green .btn input[type="submit"], .btnWrap.green .btn button {
    text-shadow: 1px 1px 1px rgba(183, 224, 79, 0.8)
}

.btnWrap.blue .btn:hover span, .btnWrap.blue .btn:hover input[type="submit"], .btnWrap.blue .btn:hover button, .btnWrap.yellow .btn:hover span, .btnWrap.yellow .btn:hover input[type="submit"], .btnWrap.yellow .btn:hover button, .btnWrap.green .btn:hover span, .btnWrap.green .btn:hover input[type="submit"], .btnWrap.green .btn:hover button {
    background-position: 0 -138px
}

.btn input[type="submit"]:focus, .btn button:focus {
    outline: 0
}

.lt-ie8 .advantage .btnWrap, .lt-ie8 .advantage p {
    display: inline-block
}

.lt-ie8 .advantage .btnWrap {
    top: 15px;
    margin-top: 0
}

.lt-ie8 .galleryWrap .flex-direction-nav {
    top: 0px;
    left: 0px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%
}

.lt-ie8 .galleryWrap .flex-direction-nav li {
    width: 100%;
    top: 50%
}

.lt-ie8.no-borderimage .greyFrame > .tl.corner, .lt-ie8.no-borderimage .greyFrame > .tr.corner {
    top: 0
}

.lt-ie8.no-borderimage .greyFrame > .bl.corner, .lt-ie8.no-borderimage .greyFrame > .br.corner {
    top: auto
}

.lt-ie8 .btn input[type="submit"] {
    padding: 0 10px
}

.cmsPreviewHighlight {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    width: auto !important;
    height: auto !important
}

.cmsBlockOverlay {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
    bottom: auto !important;
    background-color: lime !important;
    opacity: 0.3 !important;
    display: none;
    min-height: 28px !important;
    vertical-align: baseline !important;
    margin: 0 !important;
    padding: 0 !important
}

.cmsBlockOverlay p {
    background-color: #000 !important;
    color: #fff !important;
    float: right !important;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 0 !important;
    margin-right: 3px !important;
    padding: 0 !important
}

.template .inner {
    height: 408px
}

.template .title {
    padding: 0 30px 28px 0
}

.template .title span {
    background: none;
    height: 76px;
    padding-bottom: 0;
    text-indent: 2px;
    text-shadow: 1px 1px 2px black
}

.template .title span:before {
    display: none
}

.template .breadcrumb {
    -webkit-box-shadow: 0 15px 10px -4px black;
    box-shadow: 0 15px 10px -4px black
}

.template .cms-content {
    min-height: 520px;
    padding: 30px 0
}

.cookiePopup {
    width: 100%;
    background-color: #DFDFDF;
    color: black;
    border-bottom: 1px solid black
}

.cookiePopup .cookiePopupContents {
    width: 960px;
    margin: auto;
    display: table
}

.cookiePopup a {
    color: #007DB6;
    font-weight: bold
}

.cookiePopup a:hover {
    color: #00AFFF;
    cursor: pointer
}

.cookiePopup .dialogue {
    width: 87%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px 0;
    font-size: 12px
}

.cookiePopup .closeCookieContainer {
    display: table-cell;
    vertical-align: middle;
    background: url('../img/global/cookie-close.png') center right no-repeat;
    text-align: right;
    padding-right: 30px
}

.cookiePopup .closeCookieContainer:hover {
    cursor: pointer
}

.cookiePopup .closeCookiePopup {
    line-height: 50px;
    font-size: 14px
}

.cookie .header .cta-wrap {
    top: 79px;
    z-index: -1
}

.cookie .header .cta-show {
    top: 117px
}

.cookie .nav-show {
    margin-bottom: 20px
}

@media only screen and (max-width: 1036px) {
    .cookiePopup .cookiePopupContents {
        width: 90%
    }

    .closeCookieContainer a {
        display: none
    }
}

input.text, input.password {
    background-color: #010709;
    border: 1px solid #355563;
    color: #aed0e0;
    border-radius: 6px;
    padding: 10px 12px;
    font-family: "MuseoSans500";
    font-size: 1.55em
}

input.text:focus, input.password:focus {
    background: #062127;
    outline: none
}

.forum-post {
    clear: both;
    margin-bottom: 15px;
    min-height: 190px
}

.forum-post__time {
    display: block;
    color: #747474;
    margin-right: 9px;
    text-align: right
}

.forum-post--jmod .forum-post__time, .forum-post--hidden .forum-post__time, .forum-post--moved .forum-post__time {
    margin-right: 20px
}

.forum-post__time-below {
    color: #949494;
    float: left;
    height: 27px;
    margin: 10px 0 0 0
}

.forum-post__time-below--hidden {
    margin-left: 233px
}

.forum-post__message-container {
    float: left;
    width: 74%
}

.forum-post__message {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    box-shadow: inset 0 0 2px 2px black;
    font-size: 1.5em;
    position: relative;
    width: 100%
}

.player-proposal .forum-post__message {
    float: left;
    width: 74%
}

.forum-post__message:before {
    background: url('../img/global/arrow_black.png') no-repeat 0 center;
    content: '';
    height: 42px;
    left: -32px;
    position: absolute;
    top: 42px;
    width: 35px;
    z-index: 1
}

.forum-post--jmod .forum-post__message:before {
    background-image: url('../img/global/arrow_yellow.png')
}

.forum-post--fmod .forum-post__message:before {
    background-image: url('../img/global/arrow_green.png')
}

.forum-post--lmod .forum-post__message:before {
    background-image: url('../img/global/arrow_purple.png')
}

.forum-post--hidden .forum-post__message:before {
    background-image: url('../img/global/arrow_red.png')
}

.forum-post--moved .forum-post__message:before {
    background-image: url('../img/global/arrow_blue.png')
}

.forum-post__body {
    display: block;
    margin-top: 2px;
    line-height: 150%;
    min-height: 122px;
    padding: 20px;
    word-wrap: break-word
}

.forum-post--hide-shunt {
    min-height: 0
}

.forum-post--hide-shunt .forum-post__body {
    min-height: 0
}

.forum-post__body a {
    color: #e1bb34
}

.forum-post__body a:hover {
    color: #fff2c5
}

.forum-post__body p {
    margin-bottom: 10px
}

.forum-post--fmod .forum-post__message {
    box-shadow: inset 0 0 2px 2px black, 0 0 9px 0 lime;
    margin: 5px 5px 5px 0
}

.forum-post--lmod .forum-post__message {
    box-shadow: inset 0 0 2px 2px black, 0 0 9px 0 #c01ab8;
    margin: 5px 5px 5px 0
}

.forum-post--jmod .forum-post__message {
    box-shadow: inset 0 0 2px 2px black, 0 0 9px 0 yellow;
    margin: 5px 5px 5px 0
}

.forum-post--moved .forum-post__message {
    box-shadow: inset 0 0 2px 2px black, 0 0 9px 0 #1a67c0;
    margin: 5px 5px 5px 0
}

.forum-post--hidden .forum-post__message {
    box-shadow: inset 0 0 2px 2px black, 0 0 9px 0 red;
    margin: 5px 5px 5px 0
}

.forum-post--hide-shunt .forum-post__message {
    color: #666;
    height: 70px;
    margin-left: 231px
}

.forum-post--hide-shunt .forum-post__message:before {
    display: none
}

.forum-post__signature {
    border-bottom: 15px solid transparent;
    display: block;
    font-size: 0.8em;
    max-height: 40px;
    overflow: hidden;
    padding: 15px 20px 0 20px;
    position: relative;
    word-wrap: break-word
}

.forum-post__signature a {
    color: #e1bb34
}

.forum-post__signature a:hover {
    color: #fff2c5
}

.forum-post__signature:before {
    background: black;
    border-bottom: 1px solid #1e313c;
    content: '';
    height: 1px;
    left: 3%;
    position: absolute;
    top: 0;
    width: 94%
}

.forum-post__options {
    float: right;
    margin: 5px 8px 0 0
}

.forum-post__option {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 25px;
    overflow: hidden;
    text-indent: -100px;
    width: 25px
}

.forum-post__option--quote {
    background-image: url('../img/forums/quote.png')
}

.forum-post__option--highlight {
    background-image: url('../img/forums/report.png')
}

.forum-post__option--reply {
    background-image: url('../img/forums/reply.png')
}

.forum-post__option--edit {
    background-image: url('../img/forums/edit.png')
}

.forum-post__option--hide {
    background-image: url('../img/forums/hide.png')
}

.forum-post__option--show-in-thread {
    background-image: url('../img/forums/goto.png')
}

.forum-post__option-link {
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px
}

.forum-post__option--quote:hover {
    background-image: url('../img/forums/quote_hover.png')
}

.forum-post__option--highlight:hover {
    background-image: url('../img/forums/report_hover.png')
}

.forum-post__option--reply:hover {
    background-image: url('../img/forums/reply_hover.png')
}

.forum-post__option--edit:hover {
    background-image: url('../img/forums/edit_hover.png')
}

.forum-post__option--hide:hover {
    background-image: url('../img/forums/hide_hover.png')
}

.forum-post__option--show-in-thread:hover {
    background-image: url('../img/forums/goto_hover.png')
}

.forum-post--preview {
    margin-bottom: 0;
    padding: 20px 30px 51px;
    position: relative
}

.forum-post--preview:after {
    background: transparent url('../img/global/divide.jpg') no-repeat bottom left;
    border-top: 1px solid #55636c;
    bottom: 0px;
    content: '';
    height: 31px;
    left: 0px;
    position: absolute;
    width: 100%
}

.forum-escalate .forum-post--preview {
    overflow: hidden
}

.no-borderimage .greyFrame > * {
    margin: 5px;
    z-index: 1;
    position: relative
}

.greyFrame .corner {
    display: none
}

.no-borderimage .greyFrame .corner {
    background-image: url('../img/global/greyFrameIE.png');
    background-repeat: no-repeat;
    width: 60%;
    height: 60%;
    position: absolute;
    margin: 0;
    z-index: 0;
    display: inline-block
}

.no-borderimage .tl {
    top: 0;
    left: 0
}

.no-borderimage .tr {
    top: 0;
    right: 0;
    background-position: top right
}

.no-borderimage .bl {
    bottom: 0;
    left: 0;
    background-position: bottom left
}

.no-borderimage .br {
    bottom: 0;
    right: 0;
    background-position: bottom right
}

.greyFrame, .fancybox-inner.greyFrame {
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    border-image: url('../img/global/greyFrame.png') 5 repeat;
    -moz-border-image: url('../img/global/greyFrame.png') 5 repeat;
    -o-border-image: url('../img/global/greyFrame.png') 5 repeat;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 6px 6px black
}

.no-borderimage .greyFrame {
    border-width: 0
}

.greyFrame > a {
    display: block;
    margin: 0
}

.greyFrame .greyFrameContent {
    background: #071b25 url('../img/background-main.jpg') repeat 0 0;
    padding: 20px
}

.no-borderimage .tiledBlueFrame {
    position: relative;
    border-width: 0;
    padding: 1px
}

.tiledBlueFrame .corner {
    display: none
}

.no-borderimage .tiledBlueFrame .corner {
    background-image: url('../img/global/tiled-blue-frame.jpg');
    background-repeat: no-repeat;
    width: 60%;
    height: 60%;
    position: absolute;
    margin: 0;
    z-index: 0;
    display: inline-block
}

.borderimage .tiledBlueFrame, .borderimage .fancybox-inner.tiledBlueFrame {
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    border-image: url('../img/global/tiled-blue-frame.jpg') 10 repeat;
    -moz-border-image: url('../img/global/tiled-blue-frame.jpg') 10 repeat;
    -o-border-image: url('../img/global/tiled-blue-frame.jpg') 10 repeat;
    position: relative;
    z-index: 2;
    box-shadow: 0 0px 6px 7px black;
    -moz-box-shadow: 0 0px 6px 7px black;
    -webkit-box-shadow: 0 0px 6px 7px black
}

.borderimage .tiledBlueFrame.noTop {
    border-image: url('../img/global/tiled-blue-frame.jpg') 1 10 10 10 repeat;
    -moz-border-image: url('../img/global/tiled-blue-frame.jpg') 1 10 10 10 repeat;
    -o-border-image: url('../img/global/tiled-blue-frame.jpg') 1 10 10 10 repeat;
    border-width: 1px 10px 10px
}

.borderimage .tiledBlueFrame.noBottom {
    border-image: url('../img/global/tiled-blue-frame.jpg') 10 10 1 10 repeat;
    -moz-border-image: url('../img/global/tiled-blue-frame.jpg') 10 10 1 10 repeat;
    -o-border-image: url('../img/global/tiled-blue-frame.jpg') 10 10 1 10 repeat;
    border-width: 10px 10px 1px 10px
}

.no-borderimage .tiledBlueFrame.noTop > * {
    margin: 0 10px 10px 10px
}

.no-borderimage .tiledBlueFrame.noBottom > * {
    margin: 10px 10px 0 10px
}

.tiledBlueFrame.noTop:before, .tiledBlueFrame.noTop:after {
    content: '';
    background: none
}

.no-borderimage .greyFrame > .flex-direction-nav {
    margin: 0;
    z-index: auto;
    position: static
}

.hpto .main > .clear {
    box-shadow: 0 0 20px 3px #000;
    -webkit-box-shadow: 0 0 20px 3px #000;
    -moz-box-shadow: 0 0 20px 3px #000
}

.hpto .main {
    margin-top: 180px;
    z-index: 10
}

.hpto {
    position: relative;
    overflow: hidden
}

.google-hpto {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -970px
}

.language {
    float: right;
    margin: 10px 0;
    display: inline-block;
    background-color: #252525;
    border: solid 1px #5e5e5e;
    padding: 3px 25px 3px 5px;
    position: relative;
    -moz-box-shadow: inset 0 0 3px 2px #000;
    -webkit-box-shadow: inset 0 0 3px 2px #000;
    box-shadow: inset 0 0 3px 2px #000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative
}

.language:after {
    content: '';
    display: block;
    width: 26px;
    height: 30px;
    background: transparent url('../img/sprite.png') no-repeat 0 0;
    position: absolute;
    right: 0;
    top: 0
}

.language:hover:after {
    background-position: -38px 0
}

.language__inner {
    overflow: hidden;
    width: 37px;
    position: relative;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease
}

.language:hover .language__inner, .language__list {
    width: 160px
}

.es .language:hover .language__inner, .es .language__list {
    width: 200px
}

.language--footer.language:hover .language__inner, .language--footer .language__list {
    width: 200px
}

.de .language--footer.language:hover .language__inner, .de .language--footer .language__list, .fr .language--footer.language:hover .language__inner, .fr .language--footer .language__list, .pt .language--footer.language:hover .language__inner, .pt .language--footer .language__list {
    width: 160px
}

.language__item__link, .language__item__span {
    display: block;
    background: transparent url('../img/sprite.png') no-repeat -286px 0;
    text-indent: -9999px;
    width: 34px;
    height: 22px;
    position: relative
}

.language__item__link:before, .language__item__link:after, .language__item__span:before, .language__item__span:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-box-shadow: inset 0 0 10px 1px #000;
    -webkit-box-shadow: inset 0 0 10px 1px #000;
    box-shadow: inset 0 0 10px 1px #000
}

.language__list__item--de .language__item__link, .language__list__item--de .language__item__span {
    background-position: -242px 0
}

.language__list__item--fr .language__item__link, .language__list__item--fr .language__item__span {
    background-position: -374px 0
}

.language__list__item--pt .language__item__link, .language__list__item--pt .language__item__span {
    background-position: -418px 0
}

.language__list__item--es .language__item__link, .language__list__item--es .language__item__span {
    background-position: -330px 0
}

.language__list__item {
    float: left;
    margin-left: 5px;
    border: solid 1px #5c5c5c
}

.language__list__item:first-child {
    margin-left: 0
}

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    text-shadow: none
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-outer, .fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: visible
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/lightbox/fancybox_sprite.png')
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/lightbox/fancybox_loading.gif') center center no-repeat
}

.fancybox-close {
    background-image: url('../img/lightbox/video-bg-hover.png');
    height: 31px;
    position: absolute;
    right: -36px;
    top: -22px;
    width: 31px;
    z-index: 8040
}

.fancybox-close:hover {
    background: url('../img/lightbox/video-bg-hover.png') no-repeat scroll top right transparent
}

.loginFancyBoxGame .fancybox-close {
    display: none
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/lightbox/blank.gif.html');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock {
    overflow: hidden
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/lightbox/fancybox_overlay.png')
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.8)
}

.fancybox-outer .outerCorner {
    background: url('../img/lightbox/video-bg.png');
    position: absolute;
    height: 100%;
    width: 70%
}

.fancybox-outer .outerCorner.tr {
    background-position: right top
}

.fancybox-outer .outerCorner.bl {
    background-position: left bottom
}

.fancybox-outer .outerCorner.br {
    background-position: right bottom
}

.fancybox-outer .outerCorner.tl, .fancybox-outer .outerCorner.tr {
    top: -47px
}

.fancybox-outer .outerCorner.tl, .fancybox-outer .outerCorner.bl {
    left: -30px
}

.fancybox-outer .outerCorner.tr, .fancybox-outer .outerCorner.br {
    right: -60px
}

.fancybox-outer .outerCorner.bl, .fancybox-outer .outerCorner.br {
    bottom: -30px
}

.LoginForm input.text, .LoginForm input.password {
    width: 307px;
    margin: 12px 0 0;
    padding: 16px 14px 10px
}

body.weblogin {
    background: #000 url('../img/global/login/background-weblogin-1.jpg') no-repeat top center
}

.loginPanel {
    padding-bottom: 10px;
    overflow: hidden;
    position: relative
}

.logoutPanel {
    background: url('../img/global/login/logoutBack.png') no-repeat scroll 0 0 transparent;
    height: 362px;
    overflow: hidden;
    width: 462px;
    position: relative
}

div.login {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    display: block
}

div.logout {
    margin: 90px 66px 0 58px
}

.weblogin .ModalContain a.fauxHomeLink {
    display: block;
    width: 31px;
    height: 32px;
    position: absolute;
    right: 18px;
    top: 55px;
    background: url('../img/_sprite/close.png') no-repeat 0 0;
    opacity: 0;
    transition: opacity 0.5s ease 0s
}

.weblogin .ModalContain .fbLogout a.fauxHomeLink {
    top: 57px
}

.weblogin .ModalContain a.fauxHomeLink:hover {
    opacity: 1;
    transition: opacity 0.5s ease 0s
}

.weblogin .failLinks {
    margin: 20px 0
}

.weblogin .failLinks .btn span {
    text-align: center;
    width: 173px
}

.de.weblogin .failLinks .btn span {
    width: 195px
}

.fr.weblogin .failLinks .btn span, .es.weblogin .failLinks .btn span {
    width: 215px
}

.pt.weblogin .failLinks .btn span {
    width: 165px
}

.lt-ie8 .weblogin .failLinks .btn span {
    width: auto
}

a.recover, a.create {
    font-family: "MuseoSans500";
    clear: right;
    float: right;
    font-size: 1.44em;
    color: #8eb0c0
}

.axesoCreate {
    text-align: center;
    margin-bottom: 15px
}

.axesoCreate a.create {
    float: none
}

.es a.recover, .es a.create {
    font-size: 1.3em
}

.login label {
    font-family: "MuseoSans500";
    font-size: 1.44em;
    color: #8eb0c0;
    padding-right: 5px
}

a:hover.recover, a:hover.create {
    color: #e1bb34
}

a.recover {
    margin-top: 25px
}

a.create {
    margin-top: 2px
}

.weblogin .modalWrapper {
    margin: 0 auto;
    width: 460px;
    padding-top: 165px
}

.weblogin .ModalContain {
    width: 461px;
    margin: 0 auto;
    padding-top: 165px;
    position: relative
}

body.loginiframe {
    background: none;
    background-color: transparent;
    overflow: hidden
}

.loginiframe .ModalContain {
    margin: 0;
    padding: 20px 15px
}

.weblogin .ticketingExtraInfo {
    background: black;
    border: 1px solid #252525;
    border-radius: 5px 5px 5px 5px;
    margin: 15px auto;
    padding: 10px;
    width: 94%;
    text-align: center;
    font-size: 1.6em
}

.weblogin .homeLink {
    text-align: center;
    width: 50%;
    margin: 15px auto
}

.weblogin .logout p {
    font-size: 1.44em;
    margin-bottom: 12px;
    font-family: "MuseoSans500"
}

.js .descTrigger {
    display: inline;
    cursor: pointer;
    background: url('../img/_sprite/smallArrowDown.png') no-repeat center right;
    padding-right: 30px
}

.js .descTrigger.descTriggerOpen {
    background: url('../img/_sprite/smallArrowUp.png') no-repeat center right
}

#legacy .descTrigger {
    color: #E1BB34;
    font-family: "trajan-pro-3";
    font-weight: normal;
    font-size: 1.6em
}

.js .hiScoreDescription {
    display: none;
    margin-top: 10px
}

.descOuter {
    margin-top: 10px
}

#legacy .loginPanel {
    font-size: 80%;
    line-height: 1.5em
}

div.login .btn span, .btn input[type="submit"] {
    padding: 0 24px
}

.alternative {
    border-top: 1px solid #355563
}

.loginPanel section.alternative h4, .loginPanel h4.alternateHeader {
    font-family: "trajan-pro-3"
}

.alternative h4, .loginPanel h4.alternateHeader {
    padding-top: 20px;
    font-size: 1.6em;
    color: #b2dbee
}

.loginPanel h4.alternateHeader {
    padding-bottom: 20px
}

.fr .alternative h4 {
    font-size: 2em
}

.alternative p {
    font-size: 1.4em
}

.alternative .facebookLogin {
    background: transparent url('../img/sprite_splash.png') no-repeat 0 -1730px;
    display: block;
    height: 46px;
    text-indent: -9999px;
    width: 45px;
    margin-top: 14px
}

.alternative .facebookLogin:hover {
    background-position: 0 -1786px
}

#SocialNetworkingLogin {
    margin: 12px 0 0 -4px
}

.loginFancyBox .fancybox-close, .loginFancyBoxFB .fancybox-close {
    position: absolute;
    top: 102px;
    right: 29px;
    width: 31px;
    height: 32px;
    cursor: pointer;
    z-index: 8040;
    background: transparent url('../img/_sprite/close.png') no-repeat 0 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity, 0.5s;
    -moz-transition: opacity, 0.5s;
    -o-transition: opacity, 0.5s;
    transition: opacity, 0.5s
}

.loginFancyBox a.fancybox-close:hover, .loginFancyBoxFB a.fancybox-close:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
    opacity: 100;
    -webkit-transition: opacity, 0.5s;
    -moz-transition: opacity, 0.5s;
    -o-transition: opacity, 0.5s;
    transition: opacity, 0.5s
}

ul.alternativeLogin {
    list-style: none;
    margin-left: 0
}

.alternativeLogin li a {
    display: block;
    height: 46px;
    margin-top: 14px;
    text-indent: -9999px;
    width: 45px
}

.alternativeLogin li {
    float: left
}

.alternativeLogin li a.facebookLogin {
    background: url('../img/_sprite/icon-facebook.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.googleLogin {
    background: url('../img/_sprite/icon-google.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.gamericaLogin {
    background: url('../img/_sprite/icon-gamerica.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.axeso5Login {
    background: url('../img/_sprite/icon-axceso-1.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.facebookLogin:hover {
    background: url('../img/_sprite/icon-facebook-hover.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.googleLogin:hover {
    background: url('../img/_sprite/icon-google-hover.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.gamericaLogin:hover {
    background: url('../img/_sprite/icon-gamerica-hover.png') no-repeat scroll 0 0 transparent
}

.alternativeLogin li a.axeso5Login:hover {
    background: url('../img/_sprite/icon-axceso-hover-1.png') no-repeat scroll 0 0 transparent
}

.cantlogin li {
    font-size: 1.5em;
    margin: 15px 0
}

.lt-ie8 .login {
    display: inherit
}

body.modal {
    background: #000 url('../img/global/login/background-weblogin.jpg') no-repeat top center
}

.modal .modalWrapper {
    position: absolute;
    left: 50%;
    margin-left: -230px;
    width: 460px;
    padding-top: 165px
}

.messageBox, .messageBox .topPart, .messageBox .bottomPart {
    background: url('../img/global/messageBoxBg-1.png') no-repeat scroll 0 0 transparent
}

.messageBox .topPart.noClose {
    background-position: -1371px 0
}

.messageBox {
    background-repeat: repeat-y;
    background-position: -463px 0;
    margin: 141px 0 0;
    position: relative;
    width: 460px
}

.messageBox .topPart, .messageBox .bottomPart {
    height: 141px;
    left: 0;
    position: absolute;
    width: 100%
}

.messageBox .topPart {
    bottom: auto;
    top: -141px;
    margin-top: 30px;
    height: 141px;
    width: 100%
}

.messageBox .topPart h1 {
    left: 57px;
    position: absolute;
    top: -5px;
    font-size: 86px;
    line-height: 86px
}

.messageBox .topPart h1:before {
    background: url('../img/global/messageBoxDetail.png') no-repeat 0 0;
    content: "";
    display: block;
    height: 36px;
    position: absolute;
    top: 41px;
    width: 22px
}

.messageBox .bottomPart {
    background-position: -926px -29px;
    bottom: -20px;
    top: auto
}

.messageBox .middlePart {
    min-height: 150px;
    padding: 0 57px;
    position: relative;
    top: -20px;
    z-index: 2
}

.messageBox .messageBoxContentStyling h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #000
}

.messageBox .messageBoxContentStyling h3 {
    color: #b2dbee;
    margin-bottom: 15px;
    font-size: 1.8em;
    border-top: 1px solid #1E313C;
    padding-top: 15px
}

.messageBox .messageBoxContentStyling p.errorMessage {
    width: 91%;
    color: #e1bb34
}

.messageBox .messageBoxContentStyling p {
    color: #d7dbe1;
    font-size: 1.5em;
    margin-bottom: 10px
}

.messageBox .messageBoxContentStyling input.text {
    margin: 6px 0;
    padding: 16px 14px 10px;
    width: 90%
}

.messageBox .messageBoxContentStyling p.smaller {
    font-size: 1.2em
}

.messageBox .messageBoxContentStyling .btnWrap {
    margin-top: 20px
}

.messageBox .fauxClose {
    display: block;
    font-size: 0;
    height: 30px;
    position: absolute;
    right: 14px;
    top: 57px;
    width: 30px;
    background: transparent url('../img/_sprite/close.png') no-repeat 0 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity, 0.5s;
    -moz-transition: opacity, 0.5s;
    -o-transition: opacity, 0.5s;
    transition: opacity, 0.5s
}

.messageBox .fauxClose:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
    opacity: 100;
    -webkit-transition: opacity, 0.5s;
    -moz-transition: opacity, 0.5s;
    -o-transition: opacity, 0.5s;
    transition: opacity, 0.5s
}

.inputBoxContainer {
    position: relative
}

.errorBubble {
    color: #fff;
    font-size: 12px;
    position: absolute;
    width: 146px;
    right: -35px;
    top: 0
}

.errorBubble .topBox {
    background: url('../img/global/error/errorTop.png') no-repeat scroll right top transparent;
    height: 9px
}

.errorBubble .middleBox {
    background: url('../img/global/error/errorMiddle.png') no-repeat scroll right top transparent;
    overflow: hidden;
    padding: 0 16px 0 21px;
    text-align: left
}

.errorBubble .bottomBox {
    background: url('../img/global/error/errorBottom.png') no-repeat scroll right top transparent;
    height: 14px
}

.mpu {
    background: transparent url('../img/sidebar-news-0-divider.png') no-repeat bottom left;
    padding: 0 0 51px 17px
}

.mpu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: 0
}

.mpu.last {
    background: transparent url('../img/sidebar-news-1-divider.png') no-repeat 3px bottom;
    padding: 13px 0 13px 17px
}

.mpu .removeAds {
    text-align: right;
    font-size: 1.4em;
    margin: 10px 15px 0 0;
    display: block
}

.paginationWrap {
    margin-top: 25px
}

.paginationWrap.clear {
    clear: both
}

.pagination, .paging {
    position: relative;
    float: left;
    left: 50%
}

.paging {
    left: -50%
}

.paging > a, .paging > ul {
    display: block;
    float: left
}

.paginationWrap .gotoPage {
    float: right;
    font-family: "MuseoSans500";
    font-size: 1.4em;
    padding-right: 5px;
    color: #d7dbe1
}

.pagination .pageNumbers {
    list-style: none
}

.paginationWrap .gotoPage input[type=text] {
    background: none repeat scroll 0 0 #010709;
    border: 1px solid #355563;
    border-radius: 6px 6px 6px 6px;
    color: #AED0E0;
    font-family: "MuseoSans500";
    font-size: 1em;
    margin: 0 0 0 5px;
    padding: 4px;
    position: relative;
    top: -2px;
    width: 45px
}

.paginationWrap--runelabs {
    padding: 20px 0
}

.paginationWrap .paginationWrap__number {
    font-size: .9em;
    padding: 4px;
    width: 50px;
    -moz-appearance: textfield
}

.paginationWrap__number::-webkit-inner-spin-button, .paginationWrap__number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.gotoPage__submit {
    width: 0px;
    height: 0px;
    overflow: hidden;
    padding: 0;
    display: block;
    border: none
}

.pagination .pageNumbers li {
    background: url('../img/global/whiteTransparency.png') repeat scroll 0 0 transparent;
    border-color: #000 #4c5c64 #4c5c64 #000;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    font-family: "MuseoSans500";
    font-size: 12px;
    margin-left: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black
}

.pagination .pageNumbers li a {
    display: block;
    padding: 6px 10px 4px;
    text-decoration: none;
    color: #e1bb34
}

.pagination .pageNumbers li a:hover {
    color: #b2dbee
}

.pagination .pageNumbers li.current {
    background: #70a5b8;
    background: -moz-linear-gradient(top, #70a5b8 0%, #1b3e55 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70a5b8), color-stop(100%, #1b3e55));
    background: -webkit-linear-gradient(top, #70a5b8 0%, #1b3e55 100%);
    background: -o-linear-gradient(top, #70a5b8 0%, #1b3e55 100%);
    background: -ms-linear-gradient(top, #70a5b8 0%, #1b3e55 100%);
    background: linear-gradient(to bottom, #70a5b8 0%, #1b3e55 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70a5b8', endColorstr='#1b3e55', GradientType=0);
    border-color: #000 #76bbd3 #4c5c64 #000;
    text-shadow: 1px 1px 1px #223e4b
}

.pagination .pageNumbers li.current a {
    color: #a9acad
}

.pagination .pageNumbers li.ellipsis {
    background: none;
    border: none;
    color: #FFCB05;
    font-family: Arial;
    font-size: 1.2em;
    letter-spacing: 0.1em
}

.pagination .pageNumbers li.ellipsis a {
    padding: 10px 0 0
}

.pagination .previous, .pagination .next {
    text-indent: -999px;
    overflow: hidden
}

.pagination .previous, .pagination .next, .pagination.simple a:after {
    height: 14px;
    margin-top: 5px;
    width: 11px
}

.pagination .previous, .pagination.simple .previous:after {
    background: url('../img/_sprite/smallArrowLeft.png') no-repeat
}

.pagination .next, .pagination.simple .next:after {
    background: url('../img/_sprite/smallArrowRight.png') no-repeat;
    margin-left: 10px
}

.pagination .previous:hover, .pagination .next:hover {
    background-position: right top
}

.paginationOuter {
    background: url('../img/hiscores/pagination.png') repeat-x 0 0;
    height: 33px
}

.pagination.simple {
    position: static;
    float: none;
    left: auto;
    font-size: 1.2em;
    font-family: "MuseoSans500";
    text-align: center;
    margin: 0 10px 17px;
    padding-top: 10px;
    border-top: solid 1px #223843
}

.pagination.simple a {
    margin: 0;
    height: auto;
    width: auto;
    background: none;
    position: relative;
    line-height: 14px;
    color: #e1bb34
}

.pagination.simple a:hover {
    color: #b2dbee
}

.pagination.simple a:after {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 0
}

.pagination.simple .next:after {
    left: auto;
    right: 0
}

.pagination.simple .previous {
    float: left;
    padding-left: 25px
}

.pagination.simple .next {
    float: right;
    padding-right: 25px
}

.simple.noFirst span {
    margin-left: 71px
}

.simple.noLast span {
    margin-right: 51px
}

.post-avatar {
    float: left;
    padding-right: 20px;
    position: relative;
    width: 22%
}

.post-avatar--idea-form {
    margin-top: 25px
}

.post-avatar__figure {
    position: relative;
    height: 110px;
    width: 110px;
    margin: auto;
    background: #393939;
    background: linear-gradient(#393939, #151515);
    border: 1px solid #515557;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #141414, 0 0 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center
}

.post-avatar__figure--my-profile {
    height: 50px;
    margin: 23px 24px 14px;
    width: 50px
}

.post-avatar__figure:after {
    bottom: -35px;
    content: '';
    display: none;
    height: 46px;
    left: 0;
    position: absolute;
    width: 100%
}

.forum-post--jmod .post-avatar__figure, .signature-box--jmod .post-avatar__figure, .reply-box--jmod .post-avatar__figure, .overview--jmod .post-avatar__figure {
    background: #ccb50c;
    background: linear-gradient(#b87b0f, #f2e845, #b87b0f);
    border: none;
    box-shadow: 0 0 22px 2px rgba(0, 0, 0, 0.5)
}

.forum-post--jmod .post-avatar__figure:after, .signature-box--jmod .post-avatar__figure:after, .reply-box--jmod .post-avatar__figure:after {
    display: block;
    background: transparent url('../img/global/crown_jmod-1.png') no-repeat center center
}

.forum-post--fmod .post-avatar__figure, .signature-box--fmod .post-avatar__figure, .reply-box--fmod .post-avatar__figure, .overview--fmod .post-avatar__figure {
    background: #6ebd4a;
    background: linear-gradient(#3f812a, #86db59, #3f812a);
    border: none;
    box-shadow: 0 0 22px 2px rgba(0, 0, 0, 0.5)
}

.forum-post--fmod .post-avatar__figure:after, .signature-box--fmod .post-avatar__figure:after, .reply-box--fmod .post-avatar__figure:after {
    display: block;
    background: transparent url('../img/global/crown_fmod.png') no-repeat center center
}

.forum-post--lmod .post-avatar__figure, .reply-box--lmod .post-avatar__figure, .overview--lmod .post-avatar__figure {
    background: #77368f;
    background: linear-gradient(#582869, #9141ad, #582869);
    border: none;
    box-shadow: 0 0 22px 2px rgba(0, 0, 0, 0.5)
}

.forum-post--lmod .post-avatar__figure:after, .reply-box--lmod .post-avatar__figure:after {
    display: block;
    background: transparent url('../img/global/crown_lmod.png') no-repeat center center
}

.post-avatar__img {
    margin-top: 10px
}

.post-avatar__img:hover {
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    filter: brightness(1.3)
}

.post-avatar__figure--my-profile .post-avatar__img {
    margin: 0
}

.post-avatar__member-date {
    clear: both;
    color: #d7dbe1;
    font-size: 1.2em;
    margin: auto;
    overflow: hidden;
    width: 145px
}

.post-avatar__member-year {
    float: right
}

.post-avatar__prename {
    display: block;
    margin-bottom: 5px;
    color: #d7dbe1;
    font-size: 0.7em;
    font-family: "MuseoSans500"
}

.post-avatar__name {
    font-size: 1.5em;
    margin-top: 12px;
    text-align: center;
    width: 206px;
    word-wrap: break-word
}

.forum-post--jmod .post-avatar__name {
    margin-top: 40px
}

.post-avatar__suffix {
    font-size: 1.3em;
    text-align: center
}

.promoBoxes {
    position: relative;
    overflow: visible;
    background: transparent url('../img/6-box-top.jpg') repeat-x 0 0;
    border-right: solid 1px #09202B;
    box-shadow: 0px 0px 20px 5px #000;
    -moz-box-shadow: 0px 0px 20px 5px #000;
    -webkit-box-shadow: 0px 0px 20px 5px #000
}

.promoBoxes .inner {
    padding: 22px 19px;
    box-shadow: 0px 12px 10px #000;
    -moz-box-shadow: 0px 12px 10px #000;
    -webkit-box-shadow: 0px 12px 10px #000
}

.promoBoxes .inner:before, .promoBoxes .inner:after {
    content: '';
    display: block;
    background: transparent url('../img/sprite_main-2.png') no-repeat 0 -1379px;
    width: 183px;
    height: 163px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1
}

.promoBoxes .inner:after {
    background-position: 0 -1582px;
    right: 0;
    left: auto
}

.promoBoxes:before, .promoBoxes:after {
    content: '';
    background: transparent url('../img/sprite_splash.png') no-repeat 0 -3333px;
    width: 70px;
    height: 80px;
    position: absolute;
    top: -25px;
    left: -20px;
    z-index: 20
}

.promoBoxes:after {
    background-position: 0 -3423px;
    right: -20px;
    left: auto
}

.promoBoxes .selection {
    position: relative;
    overflow: visible;
    z-index: 15
}

.promoBoxes .selection > li {
    float: left;
    position: relative
}

.promoBoxes .selection > li:nth-child(1):after, .promoBoxes .selection > li:nth-child(3):after {
    content: '';
    width: 13px;
    height: 27px;
    position: absolute;
    top: 107px;
    z-index: 2
}

.promoBoxes .selection > li:nth-child(3):after {
    background-position: 0 -1897px;
    right: 0
}

.promoBoxes .selection > li:nth-child(1):before, .promoBoxes .selection > li:nth-child(3):before {
    content: '';
    background: transparent url('../img/sprite_main-2.png') no-repeat 0 -1552px;
    width: 24px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10
}

.promoBoxes .selection > li:nth-child(3):before {
    background-position: 0 -1755px;
    left: auto;
    right: 0
}

.promoBoxes h3 a {
    display: block;
    text-indent: -9999px;
    background: transparent url('../img/home/RuneScape-Clans.jpg') no-repeat 0 0;
    width: 320px;
    height: 120px
}

.promoBoxes li:nth-child(1) h3:before, .promoBoxes li:nth-child(2) h3:before {
    background: transparent url('../img/_sprite-images/main/promo-mid-m2-new.png') no-repeat bottom center;
    display: block;
    position: absolute;
    top: 0;
    right: -11px;
    width: 23px;
    height: 10px;
    z-index: 10;
    content: ''
}

.promoBoxes li:nth-child(1) h3:after, .promoBoxes li:nth-child(2) h3:after {
    background: transparent url('../img/_sprite-images/main/promo-mid-m2-new.png') no-repeat top center;
    display: block;
    position: absolute;
    bottom: 0;
    right: -13px;
    width: 23px;
    height: 10px;
    z-index: 10;
    content: ''
}

.promoBoxes .selection:hover h3 > a {
    opacity: 0.5
}

.promoBoxes .selection:hover h3 > a:hover {
    opacity: 1
}

.promoBoxes .clans h3 a {
    background-image: url('../img/home/RuneScape-Clans.jpg')
}

.promoBoxes .gameguide h3 a {
    background-image: url('../img/home/RuneScape-The-Game-Guide.jpg')
}

.promoBoxes .well h3 a {
    background-image: url('../img/home/RuneScape-Well.jpg')
}

.promoBoxes .prem h3 a {
    background-image: url('../img/home/RuneScape-Premier-2.jpg')
}

.promoBoxes .member h3 a {
    background-image: url('../img/home/Become-A-RuneScape-Member-2.jpg')
}

.promoBoxes .youtube h3 a {
    background-image: url('../img/home/RuneScape-YouTube-Videos.jpg')
}

.promoBoxes .membership h3 a {
    background-image: url('../img/home/RuneScape-Prepaid-Cards.jpg.html')
}

.promoBoxes .highscores h3 a {
    background-image: url('../img/home/RuneScape-High-Scores.jpg')
}

.promoBoxes .exchange h3 a {
    background-image: url('../img/home/RuneScape-Grand-Exchange.jpg')
}

.promoBoxes .forums h3 a {
    background-image: url('../img/home/RuneScape-Community-Forums.jpg')
}

.promoBoxes .adventurerslog h3 a {
    background-image: url('../img/home/RuneScape-Adventurers-Log.jpg')
}

.promoBoxes .betaprogramme h3 a {
    background-image: url('../img/home/combat_beta_new.jpg')
}

.promoBoxes .gearguide h3 a {
    background-image: url('../img/home/gear-guide.jpg')
}

.promoBoxes .wiki h3 a {
    background-image: url('../img/home/RuneScape-Wiki.jpg')
}

.promoBoxes .oldschool h3 a {
    background-image: url('../img/home/RuneScape-OS-3.jpg')
}

.promoBoxes .bestiary h3 a {
    background-image: url('../img/home/RuneScape-Bestiary.jpg')
}

.promoBoxes .reset h3 a {
    background-image: url('../img/home/HTML5-or-Java.jpg')
}

.promoBoxes .resetHTML5 h3 a {
    background-image: url('../img/home/HTML5.jpg')
}

.promoBoxes .resetJava h3 a {
    background-image: url('../img/home/Java.jpg')
}

.promoBoxes .axeso h3 a {
    background-image: url('../img/home/Axeso5-2.jpg')
}

.promoBoxes .comapp h3 a {
    background-image: url('../img/home/Companion-app-stores.jpg')
}

.promoBoxes .toptrumps h3 a {
    background-image: url('../img/home/TopTrumps.jpg')
}

.promoBoxes .axeso5Facebook h3 a {
    background-image: url('../img/home/RuneScape-Facebook-Login.jpg')
}

.promoBoxes .bonds h3 a {
    background-image: url('../img/home/RuneScape-Bonds.jpg')
}

.promoBoxes .summer-promo h3 a {
    background-image: url('../img/home/Summer_Promo.jpg')
}

.promoBoxes .powerplayer h3 a {
    background-image: url('../img/home/RuneScape-Player-Power.jpg')
}

.promoBoxes .runelabs h3 a {
    background-image: url('../img/home/RuneScape-RuneLabs.jpg')
}

.promoBoxes .custom h5 {
    text-indent: -9999px;
    background: transparent url('../img/_sprite/promo-arrow.png') no-repeat 0 0;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10
}

.promoBoxes .custom:last-child h5 {
    background-image: url('../img/_sprite/promo-arrow-last.png')
}

.promoBoxes .popup {
    display: none;
    background: transparent url('../img/background-dropdown.jpg') repeat 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    font-size: 1.1em;
    font-family: "MuseoSans500";
    padding: 0 8px;
    width: 142px;
    border: solid 1px #2C3C43;
    box-shadow: 0 4px 10px #000;
    -moz-box-shadow: 0 4px 10px #000;
    -webkit-box-shadow: 0 4px 10px #000
}

.promoBoxes .custom h5:hover + .popup, .popup:hover {
    display: block
}

.promoBoxes .popup li {
    border-top: solid 1px #2d414a;
    border-bottom: solid 1px #0f2a36
}

.promoBoxes .popup li:first-child {
    border-top: 0
}

.promoBoxes .popup li:last-child {
    border-bottom: 0
}

.promoBoxes .popup a {
    display: block;
    padding: 9px 0
}

.lt-ie8 .promoBoxes, .lt-ie8 .promoBoxes .inner {
    position: static;
    z-index: auto
}

.social__follow, .social__list {
    float: left;
    list-style: none
}

.social__list {
    margin: 10px 0
}

.social--share .social__list {
    margin: 5px 0
}

.social__list__item {
    float: left;
    margin-left: 5px
}

.social--homepage .social__list {
    margin: 20px
}

.social--homepage .social__list__item {
    float: left;
    margin-left: 10px
}

.social__item__link {
    display: block;
    text-indent: -9999px;
    background: transparent url('../img/sprite.png') no-repeat -1300px 0;
    width: 42px;
    height: 40px
}

.social__item__link:hover {
    background-position: -1352px 0
}

.social__list__item--twitter .social__item__link {
    background-position: -1716px 0
}

.social__list__item--twitter .social__item__link:hover {
    background-position: -1768px 0
}

.social__list__item--youtube .social__item__link {
    background-position: -1820px 0
}

.social__list__item--youtube .social__item__link:hover {
    background-position: -1872px 0
}

.social__list__item--google .social__item__link {
    background-position: -1404px 0
}

.social__list__item--google .social__item__link:hover {
    background-position: -1456px 0
}

.social__list__item--rss .social__item__link {
    background-position: -1612px 0
}

.social__list__item--rss .social__item__link:hover {
    background-position: -1664px 0
}

.social__list__item--reddit .social__item__link {
    background-position: -1508px 0
}

.social__list__item--reddit .social__item__link:hover {
    background-position: -1560px 0
}

.tabbedElement {
    display: table-cell;
    background: transparent url('../img/background-tabbedelement.jpg') repeat-y 0 0;
    width: 660px;
    z-index: 2;
    vertical-align: top;
    box-shadow: 10px 0px 8px #000;
    -moz-box-shadow: 10px 0px 8px #000;
    -webkit-box-shadow: 10px 0px 8px #000;
    overflow: visible;
    position: relative
}

.tabbedElement .inner {
    overflow: visible;
    position: relative
}

.tabbedElement .inner:after {
    background-position: 0 -1943px;
    left: auto;
    right: -12px;
    top: 53px
}

.tabNav, .secondary {
    background: transparent url('../img/tabbedelement.png') repeat-x 0 0;
    height: 56px
}

.secondary {
    position: relative
}

.secondary a {
    color: #b2dbee
}

.secondary a:hover {
    color: #e1bb34
}

.secondary:after {
    content: '';
    background: transparent url('../img/background-tabbedelement-top.jpg') repeat-x 0 0;
    bottom: 1px;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%
}

.tabNav li, .secondary li {
    float: left;
    padding-right: 30px;
    position: relative;
    z-index: 1;
    margin-left: -25px
}

.tabNav .active:first-child, .secondary .active:first-child {
    position: relative;
    overflow: visible
}

.tabNav a, .secondary a {
    font-size: 2.2em;
    font-family: "trajan-pro-3";
    display: block;
    line-height: 57px;
    padding-left: 38px
}

.tabNav li:first-child, .secondary li:first-child {
    margin-left: 0
}

.tabNav li:first-child a, .secondary li:first-child a {
    padding-left: 31px
}

.tabNav span, .secondary span {
    display: block;
    padding: 0 15px 0 0
}

.en .tabNav span, .en .secondary span {
    padding: 0 15px 0 10px
}

.tabNav li:first-child span, .secondary li:first-child span {
    padding-left: 0
}

.tabNav .active, .secondary .active {
    background: transparent url('../img/background-tab-right.png') no-repeat right -8px
}

.tabNav .active:first-child a, .secondary .active:first-child a {
    background: transparent url('../img/sprite_main-2.png') no-repeat -7px -182px
}

.tabNav .active a, .secondary .active a {
    color: #e1bb34;
    background: transparent url('../img/background-tab-left-slant.png') no-repeat 0 -3px
}

.tabNav .active span, .secondary .active span {
    background: transparent url('../img/background-tab-mid.png') repeat-x 0 -8px
}

.tabbedContents {
    padding: 20px 31px 20px 29px;
    background: transparent url('../img/background-tabbedelement-top.jpg') repeat-x 0 0;
    margin-top: -3px
}

.tabbedContents:before, .tabbedContents:after {
    background: transparent url("../img/border-image-left.png") repeat-y 0 0;
    width: 3px;
    content: " ";
    display: table
}

.tabbedContents:after {
    background-image: url("../img/border-image-right.png");
    left: auto;
    right: 0;
    width: 1px;
    clear: both
}

.tabbedContent .categories {
    position: absolute;
    top: 0;
    right: 0
}

.tabbedContent .categories h6 {
    font-size: 1.4em;
    font-family: "MuseoSans500";
    color: #e1bb34;
    overflow: visible;
    position: relative;
    padding-right: 25px;
    cursor: pointer;
    padding: 20px 55px 20px 25px;
    margin: 1px 1px 0 1px;
    z-index: 6
}

.tabbedContent .categories h6:after {
    content: '';
    border-color: #e1bb34 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 7px;
    position: absolute;
    right: 30px;
    top: 21px
}

.tabbedContent .categories:hover h6 {
    color: #e1bb34;
    margin: 0;
    border-top: solid 1px #2c3c43;
    border-left: solid 1px #2c3c43;
    border-right: solid 1px #2c3c43;
    background: transparent url('../img/background-dropdown.jpg') repeat 0 0
}

.tabbedContent .categories:hover h6:after {
    border-color: #e1bb34 transparent transparent transparent
}

.tabbedContent .categories ul {
    display: none;
    background: url('../img/background-dropdown.jpg') repeat 0 0;
    font-size: 1.4em;
    font-family: "MuseoSans500";
    width: 190px;
    padding: 10px 10px 30px;
    position: absolute;
    right: 0;
    z-index: 5;
    border: solid 1px #2c3c43;
    box-shadow: 0 4px 10px #000;
    -moz-box-shadow: 0 4px 10px #000;
    -webkit-box-shadow: 0 4px 10px #000;
    top: 54px;
    overflow: visible
}

.tabbedContent .categories ul:after {
    content: '';
    background: transparent url('../img/background-bar-repeat.png');
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 217px;
    height: 18px
}

.tabbedContent .categories li {
    padding: 10px 0;
    border-top: solid 1px #223843;
    border-bottom: solid 1px #000
}

.tabbedContent .categories li:last-child {
    padding-bottom: 0;
    border-bottom: 0
}

.tabbedContent .categories li:last-child a {
    padding-bottom: 10px
}

.tabbedContent .categories a {
    display: block;
    padding: 0 10px;
    color: #b2dbee
}

.tabbedContent .categories .active, .tabbedContent .categories a:hover {
    color: #e1bb34
}

.tabbedContent .categories li:first-child {
    border-top: 0
}

.tabbedContent .categories:hover ul {
    display: block
}

article.video figure a {
    position: relative;
    display: block
}

article.video figure a:after {
    content: '';
    background: transparent url('../img/sprite_main-2.png') no-repeat 0 -428px;
    position: absolute;
    left: 52px;
    top: 12px;
    width: 64px;
    height: 65px
}

.tabbedElement article {
    padding: 15px 0 15px 4px;
    border-top: solid 1px #223843;
    border-bottom: solid 1px #000
}

.index {
    clear: both;
    border-bottom: solid 1px #223843
}

.tabbedElement .index + article, .tabbedElement .index article:first-child {
    padding-top: 0;
    border-top: 0
}

.tabbedElement article, article .copy {
    overflow: hidden
}

.copy {
    padding: 12px 0 0
}

.copy header {
    overflow: hidden;
    margin-bottom: 5px
}

.copy h4 {
    margin-bottom: 7px;
    line-height: 120%
}

.copy h4 a {
    display: block;
    position: relative;
    padding-right: 30px
}

.home .copy h4 a {
    word-wrap: break-word
}

.copy h4 a:after {
    content: '';
    border-color: transparent transparent transparent #e1bb34;
    border-style: solid;
    border-width: 7px 10px;
    position: absolute;
    right: 0;
    top: 0
}

.copy h4 a:hover:after {
    border-color: transparent transparent transparent #b2dbee
}

.copy h5 {
    float: left;
    font-family: "MuseoSans500";
    margin-right: 10px
}

.copy h5:after {
    content: '|';
    margin-left: 10px;
    color: #a9acad
}

.copy h5 a:hover {
    color: #e1bb34
}

.copy time {
    float: left;
    font-size: 1.1em
}

.copy h5 a, .copy time {
    color: #a9acad
}

.copy p {
    font-size: 1.2em;
    font-family: "MuseoSans500"
}

.copy p a {
    color: #e1bb34
}

.copy p a:hover {
    color: #fff2c5
}

.tabbedElement article figure {
    float: left;
    margin-right: 10px;
    background-color: #000;
    border: solid 1px #384043;
    padding: 2px;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    width: 170px;
    position: relative
}

.tabbedElement article figure:after {
    box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    content: "";
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 174px;
    z-index: 1
}

.tabbedElement figure a {
    display: block;
    position: relative;
    z-index: 2
}

.tabbedElement figure img {
    display: block;
    height: 88px;
    width: 169px
}

.tabbedElement .btnWrap {
    float: right
}

.lt-ie8 .tabbedElement {
    float: left
}

.lt-ie8 .tabNav li, .lt-ie8 .tabNav :first-child.active {
    position: static
}

.lt-ie8 .secondary, .lt-ie8 .tabNav {
    height: 53px;
    overflow: hidden
}

.lt-ie9 .news .tabbedElement {
    padding-top: 0
}

.lt-ie9 .news .tabbedContent .categories {
    top: 0
}

.countdownTimer .seconds {
    display: none
}

.js .countdownTimer .seconds {
    display: block
}

.numeral, .divider {
    display: block;
    float: left;
    height: 24px;
    margin-right: 2px;
    overflow: hidden;
    position: relative;
    width: 15px
}

.divider, .numeral span {
    background: url('../img/global/countdown-sprite.png') no-repeat scroll 0 0 transparent
}

.numeral span {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px
}

.divider {
    background-position: right 0;
    width: 15px
}

.countdownLabel {
    clear: both;
    display: block
}

.countdownLabel span {
    color: #6b6b6b;
    display: block;
    float: left;
    font-family: "MuseoSans500";
    font-size: 0.95em;
    margin-right: 21px;
    padding-top: 3px;
    text-align: center;
    width: 30px
}

.numeral span.num0 {
    background-position: 0 0
}

.numeral span.num1 {
    background-position: -15px 0
}

.numeral span.num2 {
    background-position: -30px 0
}

.numeral span.num3 {
    background-position: -45px 0
}

.numeral span.num4 {
    background-position: -60px 0
}

.numeral span.num5 {
    background-position: -75px 0
}

.numeral span.num6 {
    background-position: -90px 0
}

.numeral span.num7 {
    background-position: -105px 0
}

.numeral span.num8 {
    background-position: -120px 0
}

.numeral span.num9 {
    background-position: -135px 0
}

.oldNumber {
    z-index: 1
}

.timerMin .timerMinUnit {
    margin-right: 3px;
    display: inline-block
}

.title {
    background-image: url('../img/_sprite/background-heading-small.png'), url('../img/6-box-top.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: -19px 12px, 0 58px;
    padding: 28px 30px 0 0;
    margin: -58px 0 -26px 15px
}

.title:before, .title:after {
    content: '';
    background: transparent url('../img/sprite_splash.png') no-repeat 0 -3333px;
    width: 70px;
    height: 80px;
    position: absolute;
    top: -28px;
    left: -20px;
    z-index: 1
}

.title:after {
    background-position: 0 -3423px;
    right: -17px;
    left: auto
}

.title span {
    display: block;
    text-indent: -9999px;
    height: 80px;
    position: relative;
    z-index: 10;
    margin: 0 0 -7px 6px;
    padding-top: 26px;
    pointer-events: none
}

.pt .title span {
    z-index: 30;
    height: 78px
}

.title span:before {
    content: '';
    background: transparent url('../img/sprite_splash.png') no-repeat 0 -76px;
    width: 20px;
    height: 32px;
    position: absolute;
    left: 7px;
    top: 26px;
    z-index: 15
}

.lt-ie9 .title {
    padding-top: 0
}

.lt-ie9 .title:before {
    top: auto
}

.lt-ie9 .title:after {
    top: -55px
}

.lt-ie9 .title {
    background: transparent url('../img/background-content-top.jpg') repeat-x 0 0
}

@-webkit-keyframes anim-rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes anim-rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes anim-rotate {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes anim-rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes anim-rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.header {
    background: #071b25 url('../img/background-main.jpg') repeat 0 0;
    box-shadow: 0 2px 3px black;
    position: relative;
    z-index: 50
}

.header__bg {
    background: url('../img/global/header_bg_set.jpg') repeat-x center bottom;
    background: url('../img/global/header_bg_set.jpg') no-repeat left top, url('../img/global/header_bg_set.jpg') no-repeat right center, url('../img/global/header_bg_set.jpg') repeat-x center bottom;
    border-top: 1px solid #39444b
}

.header {
    min-width: 1020px
}

.header:after {
    background: #39444b;
    bottom: -1px;
    content: '';
    height: 1px;
    position: absolute;
    width: 100%
}

.header__container {
    margin: auto;
    max-width: 1000px
}

.header-top {
    clear: both;
    display: none;
    font-size: 1.2em;
    line-height: 30px;
    overflow: hidden
}

.header-top__left {
    float: left
}

.header-top__profile {
    display: block;
    overflow: hidden
}

.header-top__player-figure {
    background: #393939;
    background: linear-gradient(#393939, #151515);
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #141414, 0 0 5px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #515557;
    float: left;
    height: 27px;
    margin: 0 7px 0 0;
    text-align: center;
    width: 27px
}

.header-top__player-avatar {
    margin-top: 1px
}

.header-top__name {
    color: #d7dbe1;
    float: left;
    font-family: "trajan-pro-3";
    font-size: 1.2em
}

.header-top__name:hover {
    color: #e1bb34
}

.header-top__profile:hover .header-top__player-figure {
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    filter: brightness(1.3)
}

.header-top__profile:hover .header-top__name {
    color: #e1bb34
}

.header-top__not-member {
    color: #a9acad;
    margin-left: 20px
}

.header-top__not-member:hover {
    color: #a9acad
}

.header-top__not-member:hover .header-top__not-member-span {
    color: #fff2c5
}

.header-top__not-member-span {
    color: #e1bb34
}

.header-top__not-member--icon {
    margin-left: 0;
    padding-left: 25px;
    position: relative
}

.header-top__not-member--icon:before {
    background: url('../img/global/header.png') no-repeat 0 0;
    content: '';
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px
}

.header-top__not-member--icon:hover:before {
    background-position: 0 -28px
}

.header-top__right {
    float: right;
    line-height: 30px
}

.header-top__right-option {
    float: left;
    padding: 0 10px;
    position: relative
}

.header-top__right-option:after {
    background: black;
    border-right: 1px solid #444;
    content: '';
    height: 50%;
    position: absolute;
    right: 0;
    top: 25%;
    width: 1px
}

.header-top__right-option:last-child:after {
    display: none
}

.header-top__right-link {
    color: #a9acad
}

.header-top__right-link:hover {
    color: #e1bb34
}

.header-top__right-link--signin {
    color: #e1bb34
}

.header-top__right-link--signin:hover {
    color: #fff2c5
}

.header-top__right-link--signout {
    color: #a9acad
}

.header-top__right-link--signout:hover {
    color: #e1bb34
}

.header-second {
    clear: both;
    font-size: 1.5em;
    line-height: 25px;
    min-height: 59px;
    position: relative
}

.header-second__logo {
    display: block;
    margin: auto;
    width: 141px
}

.header-second__logo:hover {
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    filter: brightness(1.3)
}

.header-second__logo-image {
    margin-top: 7px;
    vertical-align: middle
}

.header-second__figure {
    background: #393939;
    background: linear-gradient(#393939, #151515);
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #141414, 0 0 5px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #515557;
    height: 56px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 56px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}

.header-second__figure:hover .header-second__figure-image {
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    filter: brightness(1.3)
}

.header-second__figure-image {
    margin-top: 6px
}

.main-nav {
    left: 0;
    position: absolute;
    width: 100%
}

.main-nav:before {
    color: #e1bb34;
    content: '\2261';
    cursor: pointer;
    font-size: 4em;
    height: 72px;
    left: 0;
    line-height: 65px;
    position: absolute;
    top: -54px;
    width: 72px
}

.main-nav:hover:before {
    color: #fff2c5
}

.main-nav__list {
    background: url('../img/background-main.jpg') repeat 0 0;
    margin-top: 11px
}

.main-nav__item {
    background: url('../img/content_repeat_y.jpg') repeat -1px 0;
    display: none;
    font-size: 1.3em;
    padding: 16px;
    position: relative
}

.main-nav__item:after {
    background: black;
    border-bottom: 1px solid #1e313c;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%
}

.main-nav__item--expand {
    padding: 20px 20px 0
}

.main-nav__item--play:after {
    display: none
}

.main-nav--show .main-nav__item {
    display: block
}

.main-nav__heading {
    color: #e1bb34;
    display: block;
    font-family: Trajan Pro, 'trajan-pro-3', serif;
}

.main-nav__heading:hover {
    color: #fff2c5
}

.main-nav__expander {
    float: right;
    height: 30px;
    position: relative;
    width: 30px
}

.main-nav__expander:before {
    background: black;
    border-right: 1px solid #1e313c;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: 0;
    width: 1px
}

.main-nav__expander:after {
    border-color: #e1bb34 transparent transparent transparent;
    border-style: solid;
    border-width: 12px 10px;
    content: '';
    left: 0;
    position: absolute;
    top: 6px
}

.main-nav__item--expand .main-nav__expander:after {
    border-color: transparent transparent #e1bb34 transparent;
    top: -6px
}

.main-nav__item--group:hover .main-nav__expander:after {
    border-color: #fff2c5 transparent transparent transparent
}

.main-nav__item--group:hover .main-nav__heading {
    color: #fff2c5
}

.main-nav__group {
    background: url('../img/global/header_group_bg.jpg') repeat 0 0;
    display: none;
    font-size: 0.9em;
    line-height: 24px;
    z-index: 1
}

.main-nav__item--expand .main-nav__group {
    display: block
}

.main-nav__group-item {
    color: #d7dbe1;
    font-family: "MuseoSans500";
    font-size: 0.8em;
    position: relative
}

.main-nav__group-item:after {
    background: black;
    border-bottom: 1px solid #1e313c;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%
}

.main-nav__group-item-link {
    color: #d7dbe1;
    display: block;
    height: 26px;
    padding: 12px 10px 8px;
    position: relative;
    z-index: 1
}

.main-nav__group-item-link:visited {
    color: #d7dbe1
}

.main-nav__group-item:hover .main-nav__group-item-link {
    color: #e1bb34
}

.main-nav__group-item:hover:before {
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    filter: brightness(1.3)
}

.header__login {
    display: none
}

.main-nav__item--play {
    background: url('../img/global/header_play.jpg') repeat-x 0 0;
    border-top: 1px solid #f8e68d;
    border-bottom: 1px solid #633702;
    border-right: none;
    display: block;
    font-size: 1.7em;
    height: 60px;
    position: absolute;
    right: 0;
    top: -49px;
    z-index: 2
}

.main-nav__item--play .main-nav__heading {
    color: black;
    padding: 3px 19px 0 0;
    position: relative
}

.main-nav__item--play .main-nav__heading:after {
    border-color: transparent transparent transparent black;
    border-style: solid;
    border-width: 5px 8px;
    content: '';
    right: 9%;
    position: absolute;
    top: 44%
}

.de .main-nav__item--play .main-nav__heading:after, .es .main-nav__item--play .main-nav__heading:after {
    right: 0%
}

.header-second__figure {
    display: none
}

.header-top {
    display: block
}

.main-nav__item--account {
    display: none
}

.header-table {
    display: table;
    width: 100%
}

.header-second__logo {
    display: table-cell;
    vertical-align: middle;
    width: 160px
}

.header-second__logo-image {
    margin-top: 0
}

.main-nav {
    display: table-cell;
    position: relative;
    vertical-align: top;
    width: auto
}

.main-nav:before {
    display: none
}

.main-nav__list {
    background: transparent;
    float: left;
    height: 59px;
    margin-top: 0;
    vertical-align: middle;
    width: 100%
}

.main-nav__item {
    border-left: 1px solid #39444b;
    border-right: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    line-height: 57px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap
}

.main-nav__item:hover {
    background: url('../img/global/header_group_bg.jpg') repeat 0 0;
    box-shadow: inset 0 0 8px 3px black
}

.main-nav__item--play:hover {
    background: url('../img/global/header_play_hover.jpg') repeat-x 0 0;
    box-shadow: none
}

.cssfilters .main-nav__item--play:hover {
    background: url('../img/global/header_play.jpg') repeat-x 0 0;
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    filter: brightness(1.3)
}

.main-nav__item--account {
    display: none
}

.main-nav__item--game {
    width: 19%
}

.main-nav__item--news {
    width: 12%
}

.main-nav__item--community {
    width: 19%
}

.main-nav__item--forums {
    width: 14%
}

.main-nav__item--shop {
    width: 13%
}

.main-nav__item--play {
    border-right: none;
    position: relative;
    top: 0;
    width: 22%
}

.main-nav--show .main-nav__item {
    display: table-cell
}

.main-nav--show .main-nav__item--account {
    display: none
}

.main-nav__item:after {
    display: none
}

.main-nav__heading {
    font-size: 0.8em;
    padding-top: 3px
    font-family: Trajan Pro, 'trajan-pro-3', serif;
}

.fr .main-nav__heading {
    font-size: 0.7em
}

.main-nav__item--group .main-nav__heading {
    padding-right: 13px
}

.main-nav__expander:before {
    display: none
}

.main-nav__expander {
    clear: both;
    height: 20px;
    position: absolute;
    right: 3%;
    top: 34%;
    width: 20px
}

.main-nav__expander:after {
    border-width: 6px 5px;
    top: 9px
}

.de .main-nav__item--game .main-nav__expander:after, .fr .main-nav__item--shop .main-nav__expander:after, .pt .main-nav__item--game .main-nav__expander:after, .es .main-nav__item--game .main-nav__expander:after {
    left: 11px
}

.main-nav__group {
    border: 1px solid #39444b;
    position: absolute;
    left: -1px;
    min-width: 200px;
    text-align: left;
    top: 59px;
    width: 100%
}

.main-nav__item--group:hover .main-nav__group {
    display: block
}

.main-nav__group-item:hover {
    background: url('../img/global/header_child_bg.jpg') repeat 0 0
}

.main-nav__group-item--shop {
    position: relative
}

.fr .main-nav__group-item--shop, .pt .main-nav__group-item--shop, .es .main-nav__group-item--shop {
    font-size: 0.6em
}

.main-nav__group-item--shop .main-nav__group-item-link {
    padding-left: 55px
}

.main-nav__item--shop .main-nav__expander {
    right: 7%
}

.main-nav__group-item--shop:before {
    background: url('../img/global/header.png') no-repeat 0 0;
    content: '';
    height: 30px;
    left: 13px;
    position: absolute;
    top: 8px;
    width: 30px;
    z-index: 0
}

.main-nav__group-item--shop-membe:before {
    background-position: 0px -56px
}

.main-nav__group-item--shop-solom:before {
    background-position: 0px -96px
}

.main-nav__group-item--shop-treas:before {
    background-position: 0px -136px
}

.main-nav__group-item--shop-bonds:before {
    background-position: 0px -176px
}

.main-nav__group-item--shop-loyal:before {
    background-position: 0px -216px
}

.main-nav__group-item--shop-cards:before {
    background-position: 0px -256px
}

.main-nav__group-item--shop-merch:before {
    background-position: 0px -296px
}

.lt-ie8 .header-second__logo {
    display: block;
    float: left
}

.lt-ie8 .main-nav {
    display: block;
    float: left;
    width: 80%
}

.lt-ie8 .main-nav__list {
    width: 900px
}

.lt-ie8 .main-nav__item {
    width: 15%
}

.lt-ie8 .header-second__logo-image {
    margin-top: 8px
}

.footer {
    background: url('../img/parchment.jpg');
    position: relative;
    overflow: visible;
    z-index: 15;
    display: block;
    margin-top: -172px
}

.footer:before, footer:after {
    content: '';
    display: block;
    background: transparent url('../img/large_break.jpg') repeat-x 0 0;
    clear: both
}

.footer:before {
    height: 52px;
    -webkit-box-shadow: 0px -4px 15px #000;
    -moz-box-shadow: 0px -4px 15px #000;
    box-shadow: 0px -4px 15px #000
}

.footer:after {
    box-shadow: inset 0px 5px 55px -10px #000;
    -webkit-box-shadow: inset 0px 5px 55px -10px #000;
    -moz-box-shadow: inset 0px 5px 55px -10px #000;
    height: 10px
}

.footer__inner {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px 10px 70px
}

.footer__jagex {
    display: block;
    text-indent: -9999px;
    background: transparent url('../img/sprite.png') no-repeat -462px 0;
    width: 140px;
    height: 31px;
    float: left;
    margin: 10px 35px 10px 0
}

.footer__paragraph {
    color: #2b1e0a;
    font-size: 1.1em;
    max-width: 460px;
    float: left;
    font-family: "MuseoSans500";
    padding: 5px 0
}

@media screen and (min-width: 45em) {
    .footer__paragraph {
        border-left: 1px solid #867458;
        padding: 5px 20px
    }
}

.footer__paragraph__link {
    color: #2B1E0A;
    text-decoration: underline
}

.footer__paragraph__link:hover {
    color: #876430
}

.footer__paragraph__link--rules {
    position: relative
}

.footer__paragraph__link--rules:after {
    content: '|';
    display: inline-block;
    margin: 0 5px
}

#legacy .footer {
    margin-top: 0
}

.sidebar {
    display: table-cell;
    background: transparent url('../img/background-effect.png') repeat 0 0;
    vertical-align: top
}

.sidebar section {
    background: transparent url('../img/sidebar-divider2.png') no-repeat bottom left;
    padding-bottom: 70px;
    overflow: hidden;
    border-right: solid 1px #000;
    width: 339px
}

.sidebar section iframe.axesoIframe {
    padding-left: 20px;
    width: 300px;
    height: 250px;
    overflow: hidden
}

.sidebar .heavy, .hiscore .sidebar .heavy, .friends .sidebar .heavy {
    background: transparent url('../img/sidebar-news-0-divider.png') no-repeat bottom left;
    padding-bottom: 41px
}

.sidebar section:last-child {
    background: none;
    padding-bottom: 20px;
    position: relative;
    overflow: visible
}

.sidebar section:last-child .btnWrap {
    margin-bottom: 20px
}

.sidebar section:last-child:before {
    content: '';
    background: transparent url('../img/sprite_main-2.png') no-repeat 0 -1943px;
    width: 23px;
    height: 28px;
    position: absolute;
    top: -1px;
    right: -7px;
    z-index: 10
}

.sidebar article {
    border-top: 1px solid #1e313c;
    border-bottom: 1px solid #000;
    padding: 9px 0
}

.sidebar .index {
    margin: 0 25px 0 30px
}

.sidebar h3 {
    border-bottom: 1px solid black;
    padding: 0 0 14px;
    background: transparent url('../img/sidebar-header.png') no-repeat right center;
    height: 51px;
    line-height: 65px;
    margin-left: 30px
}

.es .sidebar h3, .pt .sidebar h3, .de .sidebar h3 {
    font-size: 1.7em
}

.sidebar h3 a {
    color: #e1bb34
}

.news .sidebar h3 a .sidebar .link h3 a {
    color: #b2dbee
}

.sidebar h4 {
    margin-bottom: 5px
}

.sidebar time {
    font-size: 1.1em;
    color: #a9acad
}

.sidebar p {
    padding: 9px 0 0 0;
    border-top: 1px solid #1e313c;
    margin: 0 25px 15px 30px;
    font-size: 1.4em;
    font-family: "MuseoSans500"
}

.sidebar .video figure a:after {
    top: 65px;
    left: 105px
}

.sidebar .error {
    margin: 0;
    border-bottom: solid 1px #000;
    padding: 20px 0
}

.sidebar .btnWrap {
    float: left;
    position: relative;
    left: 50%
}

.sidebar .btn {
    position: relative;
    left: -50%
}

.home .sidebar section:last-child {
    margin-top: -9px
}

.home .accountsCreated h3 {
    color: #b2dbee;
    background: none;
    border: none;
    padding: 0
}

.home .accountsCreated h4 {
    margin-left: 30px;
    border: none;
    padding: 0
}

.sidebar .prepaid h3 {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    height: auto;
    line-height: 1.2em;
    color: #b2dbee
}

.fr .prepaid h3 {
    font-size: 2em
}

.sidebar .prepaid h4 {
    font-size: 1.3em
}

.sidebar .prepaid h4 a {
    color: #e1bb34
}

.sidebar .prepaid h4 a:hover {
    color: #b2dbee
}

.sidebar .prepaid {
    position: relative;
    padding: 20px 0 0 30px;
    width: 309px;
    height: 129px
}

.sidebar .prepaid:after {
    content: '';
    background: transparent url('../img/sprite_main-2.png') no-repeat 0 -67px;
    width: 105px;
    height: 98px;
    position: absolute;
    right: 7px;
    top: 0
}

.sidebar .updates .index h4 {
    font-size: 1.3em
}

.sidebar .mpu-wrap {
    background: none;
    padding: 15px 0 0
}

.lt-ie8 .sidebar {
    float: left;
    width: 340px
}
