body {
    background-color: #000;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #AAA;
}
#wrapper {
    width: 750px;
    margin: 0 auto;
}
#sub-wrapper {
    border: #444 thin solid;
    background-color: #111;
    padding: 25px;
}
h3 {
    text-align: center;
    color: #BBB;
}
#message {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}