



#minHeightFix
{
 min-height:420px;
}

.clearL {
 clear:left;
}


#oneThirdRight
{
 width:200px;
 position:absolute;
 left:650px;
 top:120px;
}

#twoThirdsLeft {
  margin: 50px 50px 20px 125px;
  padding: 30px 0 10px;
  width:475px;
}

#errorContent {
  margin: 20px 0px 0px;
  color: #b8b8b8;
}

#errorContent p {
  line-height: 20px;
  margin: 20px auto 0;
  color: #b8b8b8;
  margin-left:5px;/*to make it seem like it lines up*/
  text-align:left;
}

.orangeheader {
  font-size: 26px;
  color: #f3b13f;
  font-weight: normal;
  font-family: KingthingsPetrockRegular,Times New Roman,serif;;
  margin-left:5px;/*just to make it line up with the first letter of next word down*/
}

.errorPageButton {
   clear: both;
   margin: 10px 0 0 0; /* Might need tweaking to match design */
   display: block;
}

#spacer404{
  height: 569px;
  padding-left: 86px;
  padding-top: 55px;
}

#spacer404 p {
 padding-top:10px;
 padding-bottom:25px;
}

#crack {
    position: absolute;
    top: 195px;
    left: 176px;
}

/*outer width*/

.errorPageButton.w75 {
  width:75px;
}

.errorPageButton.w130 {
  width:130px;
}

.errorPageButton.w160 {
  width:140px;
}

.errorPageButton.w180 {
  width:160px;
}

.errorPageButton.w200 {
  width:190px;
}

.errorPageButton.w250 {
  width:230px;
}

/*innerwidth*/

.errorPageButton.w75 span span span b {
    width: 55px;
}

.errorPageButton.w130 span span span b {
    width: 110px;
}

.errorPageButton.w160 span span span b {
    width: 140px;
}

.errorPageButton.w180 span span span b {
    width: 160px;
}

.errorPageButton.w200 span span span b {
    width: 190px;
}

#errorContent .Button.w250 span span span b {
    width: 230px;
}

    div.login,
    div.password {
        clear: both;
        overflow: hidden;
        font-size: 20px;
    }

    div.login .EncrustedInputBoxWrapper,
    div.password .EncrustedInputBoxWrapper {
        float: right;
        width: 270px;
    }

    div.login .inputLabel,
    div.password .inputLabel {
        margin: 10px 5px 0 0;
        float: left;
    }

    a.password {
        float: right;
        line-height: 15px;
    }

    #recaptcha {
        background: url(../img/weblogin/recaptcha_background.jpg) top left no-repeat;
        height: 210px;
        overflow: hidden;
        width: 380px;
        margin: auto;
        position: relative;
    }

    #recaptcha_box {
        margin: 20px 40px 0px 40px;
        overflow: hidden;
    }

    #recaptcha_image {
        border-radius: 3px;
        overflow: hidden;
        margin: auto;
        margin-bottom: 9px;
        line-height: 18px;
    }

    #recaptcha_input {
        float: left;
        line-height: 11px;
    }

    #recaptcha_input .inputLabel {
        color: white;
        font-size: 11px;
        padding-left: 7px;
    }

    #icon_container {
        float: right;
    }

    #icon_container > a {
        padding-left: 30px;
        font-size: 9px;
        color: white;
        display: block;
        margin-bottom: 1px;
    }

    #refresh_recaptcha {
        height: 16px;
        line-height: 16px;
        background: url(../img/weblogin/recaptcha_refresh.jpg) top left no-repeat;
    }

    #audio_recaptcha,
    #image_recaptcha {
        height: 14px;
        line-height: 14px;
    }

    #audio_recaptcha {
        background: url(../img/weblogin/recaptcha_audio.jpg) top left no-repeat;
    }

    #image_recaptcha {
        background: url(../img/weblogin/recaptcha_text.jpg) top left no-repeat;
    }

    #help_recaptcha {
        height: 15px;
        line-height: 15px;
        background: url(../img/weblogin/recaptcha_help.jpg) top left no-repeat;
    }

    #icon_container > a:hover {
        background-position: bottom left;
        color: #F3B13F;
        text-decoration: none;
    }

    #button,
    button {
        width:230px;
        height:52px;
    }

    #button {
        margin: 5px auto 0 auto;
        overflow: hidden;
        position: relative;
    }

    button.HoverImgJs,
    button.HoverImg {
        position: static;
    }

    button.HoverImgJs div,
    button.HoverImg div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #recaptcha_box_nojs {
        position: absolute;
        top: 0;
        left: 0;
    }

    #recaptcha_box_nojs iframe {
        width: 100%;
        height: 210px;
        background: white;
    }