@font-face {
    font-family: 'trajan-pro-3';
    src: url('../img/global/fonts/trajan-pro-3.eot');
    src: url('../img/global/fonts/trajan-pro-3-.eot#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('../img/global/fonts/MuseoSans_500-webfont.eot');
    src: url('../img/global/fonts/MuseoSans_500-webfont-.eot#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}