



@font-face {
    font-family: 'KingthingsPetrockRegular';
    src: url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock-webfont.eot');
    src: url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock-webfont.woff') format('woff'),
         url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock-webfont.ttf') format('truetype'),
         url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock-webfont.svg#KingthingsPetrockRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KingthingsPetrockLightRegular';
    src: url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock_light-webfont.eot');
    src: url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock_light-webfont.woff') format('woff'),
         url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock_light-webfont.ttf') format('truetype'),
         url('https://www.runescape.com/img/global/fonts/Kingthings_Petrock_light-webfont.svg#KingthingsPetrockLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris
 * License URL: http://www.fontspring.com/fflicense/exljbris
 *
 *
 */

@font-face {
    font-family: 'MuseoSans500';
    src: url('https://www.runescape.com/img/global/fonts/MuseoSans_500-webfont.eot');
    src: url('https://www.runescape.com/img/global/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://www.runescape.com/img/global/fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('https://www.runescape.com/img/global/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('https://www.runescape.com/img/global/fonts/MuseoSans_500-webfont.svg#webfontkQkWxTED') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans500Italic';
    src: url('https://www.runescape.com/img/global/fonts/MuseoSans_500_Italic-webfont.eot');
    src: url('https://www.runescape.com/img/global/fonts/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://www.runescape.com/img/global/fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
         url('https://www.runescape.com/img/global/fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
         url('https://www.runescape.com/img/global/fonts/MuseoSans_500_Italic-webfont.svg#webfontprFOYbU7') format('svg');
    font-weight: normal;
    font-style: normal;
}