


#hiscoresSearch {
 position: absolute;
 top: 51px;
 right: 80px;
}

 #hiscoresSearch .EncrustedInputBoxWrapper,
 #hiscoresSearch .Button {
  float: left;
 }
 
 #hiscoresSearch .Button {
  margin: 10px 5px 0 5px;
 }
 
 #skillStats.OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxBg,
 #activityStats.OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxBg {
  background-image: url(../img/global/hiscore/ornamentalBox923_middle.png);
  top:150px;
  margin-top: 0;
 }
 
 #clanSkillStats.OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxBg {
 background-image: url(../img/global/hiscore/ornamentalBox923_middle.png);
 }

 #clanSkillStats.OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxBottom,
 #skillStats.OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxBottom,
 #activityStats.OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxBottom {
  background-image: url(../img/global/hiscore/ornamentalBox923_bottom.png);
 }

.OrnamentalBox.Width863 {
 margin: 20px auto;
}

 #rankingWrapper {
  position: relative;
  min-height: 700px;
 }
 
 .categorySelect {
  display: none;
 }

 #skillsDropDown .ArrowDown {
  background-image: url(../img/clan/stats/arrowDown_extralong.png);
  height: 800px;
 }

 #skillsDropDown,
 #activityDropDown {
  left: 415px;
   position: absolute;
   top: 56px;
   z-index: 5;
 }
 
 #activityDropDown.width200,
 #skillsDropDown.width200 {
  left: 385px;
 }
 
 .tableContainer {
  margin: auto;
  background: #161616;
  border: 1px solid #303030;
  position: relative;
  padding-top: 20px;
  padding-bottom: 5px;
 }
 
 .tableInnerContainer {
  width: 765px;
  margin: auto;
  position: relative;
  z-index: 2;
 }
 
  .notRanked {
   margin: 0 0 15px;
     text-align: center;
  }
 
 .hiscoresBoxTopLeft,
 .hiscoresBoxTopRight,
 .hiscoresBoxBottomLeft,
 .hiscoresBoxBottomRight {
  width: 24px;
  height: 23px;
  z-index: 1;
  background-image: url(../img/hiscore/borders.png);
  position: absolute;
 }
 
 .hiscoresBoxTopLeft,
 .hiscoresBoxTopRight {
  top: -1px;
 }
 
 .hiscoresBoxTopLeft,
 .hiscoresBoxBottomLeft {
  left: -1px;
 }
 
 .hiscoresBoxTopRight,
 .hiscoresBoxBottomRight {
  right: -1px;
 }
 
 .hiscoresBoxBottomLeft,
 .hiscoresBoxBottomRight {
  bottom: -1px;
 }
 
 .hiscoresBoxTopRight {
  background-position: top right;
 }
 
 .hiscoresBoxBottomRight {
  background-position: bottom right;
 }
 
 .hiscoresBoxBottomLeft {
  background-position: bottom left;
 }

 .OrnamentalBox h4,
 span.subHeading {
  position: relative;
  z-index: 2;
 }
 
 .OrnamentalBox h4 {
  color: #c9c9c9;
  font-size: 22px;
  font-family: KingthingsPetrockRegular,Times New Roman,serif;
 }
 
 span.subHeading {
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  color: #8c8c8c;
  margin: 5px 0 12px 0;
  font-family: MuseoSans500,Arial,Times New Roman,serif;
 }
 
 #hiscoresControls h4,
 #hiscoresControls span.subHeading {
  margin-left: 15px;
 }
 
 #hiscoresControls h4 {
  margin-top: 12px;
 }
 
 .cssTableSmall .columnRank,
 .cssTableSmall .columnMembership,
 .cssTableSmall .columnName,
 .cssTableSmall .columnLevel,
 .cssTableSmall .columnXp,
 .cssTableSmall .columnScore {
  display: block;
  float: left;
 }
 
 .cssTableSmall .columnName span {
  margin-left: 10px;
 }
  
 .cssTableSmall .columnMembership {
  text-align: center;
 }
 
 .cssTableSmall .columnXp {
  width: 132px;
 }
 
  .cssTableSmall .columnXp span {
   margin-left: 10px;
  }
  
 .cssTableSmall .columnScore {
  width: 200px;
 }
   
  .cssTableSmall .columnScore span {
   margin-left: 10px;
  }
  
 .cssTableSmall .columnLevel {
  width: 68px;
 }
 
  .cssTableSmall .columnLevel span {
   margin-left: 10px;
  }
 
 .cssTableSmall .header {
  clear: both;
  overflow: hidden;
  padding-bottom: 3px;
  line-height: 15px;
  color: #b8b8b8;
  font-size: 9px;
  border-bottom: 1px solid #635035;
  margin-bottom: 5px;
 }
 
  .cssTableSmall .header .columnRank {
   width: 69px;
  }
  
  .cssTableSmall .header .columnMembership {
   width: 44px;
  }
  
  .cssTableSmall .header .columnName {
   width: 496px; 
  }
 
 .cssTableSmall .row {
  clear: both;
  overflow: hidden;
  display: block;
  border-bottom: 1px dotted #635035;
 }
 
  .cssTableSmall .row > span {
   font-size: 14px;
     padding-bottom: 10px;
     padding-top: 10px;
     line-height: 15px;
  }
  
  .cssTableSmall .row .columnRank {
   width: 68px;
   color: #7ed3d4;
   font-family: KingthingsPetrockRegular,Times New Roman,serif;
  }
  
  .cssTableSmall .row .columnMembership {
   width: 43px;
   padding: 6px 0 3px;
   min-height: 22px;
  }
  
  .cssTableSmall .row .columnName {
   width: 495px; 
   color: white;
   font-size: 11px;
  }
  
  .cssTableSmall .row .columnLevel {
   width: 67px;
   color: #b8b8b8;
   font-family: KingthingsPetrockRegular,Times New Roman,serif;
  }
 
  .cssTableSmall .row .columnRank,
  .cssTableSmall .row .columnMembership,
  .cssTableSmall .row .columnName,
  .cssTableSmall .row .columnLevel {
   border-right: 1px dotted #635035;
  }
  
  .cssTableSmall .row .columnRank {
   text-align: center;
  }
  
  .cssTableSmall .row .columnRank,
  .cssTableSmall .row .columnLevel,
  .cssTableSmall .row .columnXp,
  .cssTableSmall .row .columnScore {
   font-size: 20px;
  }
  
  .cssTableSmall .row .columnXp,
  .cssTableSmall .row .columnScore {
   color: #69ca77;
   font-family: KingthingsPetrockRegular,Times New Roman,serif;
  }
 
 .cssTableSmall .row:hover,
 .cssTableSmall .row.clickable.tableRowSelected {
  text-decoration: none;
  background: url(../img/global/hiscore/cssTableSmallRow_hover.jpg);
 }
 .cssTableSmall .largerow:hover,
 .cssTableSmall .largerow.row.clickable.tableRowSelected {
  text-decoration: none;
  background: url(../img/global/hiscore/cssTableLargeRow_hover.jpg);
 }
 
 .cssTableSmall .row.last-row {
  border: none;
 }