


#hiscoresStats,
#skillStats,
#activityStats {
 margin-left: auto;
 margin-right: auto;
}

#hiscoresStats {
 width: 923px;
}

 .comparing .OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxTop {
  background-image: url(../img/hiscore/compare/ornamentalBox923_top_compare.png);
 }

 .OrnamentalBox.Width923.SegmentTwo .OrnamentalBoxTop {
  background-image: url(../img/hiscore/compare/ornamentalBox923_top.png);
 }
 
 .OrnamentalBoxTitle {
  top: 44px;
 }
 
 .playerNames,
 .playerAvatars {
  position: absolute;
 }
 
 .playerNames {
  font-size: 18px;
    position: absolute;
    top: 50px;
    width: 566px;
    left: 178px;
 }
 
  .playerNames .left,
  .playerNames .right {
   text-align: center;
   width: 168px;
  }
 
 .playerAvatars {
    position: absolute;
    top: 16px;
    z-index: 2;
    left: 111px;
    width: 705px;
 }
 
 .playerAvatars img{
  height:75px;
  width:75px;
 }
 
 .categorySelect {
  z-index: 2;
  position: absolute;
  left: 395px;
  top: 77px;
  text-align: left;
  display: none;
 }
 
  .categorySelect .DropListWrapper {
   top: -107px;
  }
  
  .categorySelect:hover .DropListWrapper {
   top: -5px;
  } 
 
 .OrnamentalBox {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 150px;
 }
 
  .OrnamentalBoxBg {
   margin-top: 0px;
  }
  
   .OrnamentalBoxContent,
   .OrnamentalBoxContent a {
    color: white;
   }
   
   .OrnamentalBoxContent {
    padding: 0 50px;
    margin-top: -56px;
   }
 
    .OrnamentalBox .left,
    .OrnamentalBox .middle {
     float: left;
    }
    
    .OrnamentalBox .right {
     float: right;
    }

    .OrnamentalBox .columnLevel,
    .OrnamentalBox .columnRank,
    .OrnamentalBox .columnTotal,
    .OrnamentalBox .columnScore {
     display: block;
     float: left;
    }
    
    .OrnamentalBox .columnLevel {
     width: 119px;
     color: #5b79cf;
    }
    
    .OrnamentalBox .columnRank {
     width: 105px;
     color: #D4987E;
    }
    
    .OrnamentalBox .columnTotal,
    .OrnamentalBox .columnScore {
     color: #63b36e;
    }
    
    .OrnamentalBox .columnTotal {
     width: 142px;
    }
    
    .OrnamentalBox .columnScore {
     width: 262px;
    }
  
    .OrnamentalBox .header {
     clear: both;
     font-size: 9px;
    }
    
     .OrnamentalBox .header .left,
     .OrnamentalBox .header .right {
      border-bottom: 1px solid #635035;
     }

    .OrnamentalBox .row .right,
    .OrnamentalBox .row .left {
     width: 369px;
    }
    
    .OrnamentalBox .row .middle {
     padding-top: 5px;
     width: 85px;
    }
    
     .OrnamentalBox .row .middle .statName,
     .OrnamentalBox .row .middle .statName span {
      white-space: pre;
      text-align: center;
      background-repeat: no-repeat;
      background-image: url(../img/clan/stats/skill-icon-name-bg.png);
      height: 27px;
      line-height: 19px;
     }
      
     .OrnamentalBox .row .middle .statName {
      position: relative;
      top: 0;
      display: -moz-inline-grid;
      display: inline-block;
      overflow: visible;
      color: white;
      background-position: left 0%;
      padding-left: 9px;
     }
     
     .OrnamentalBox .row .middle .statName span {
      float: left;
      background-position: right 100%;
      padding-right: 9px;
     }
     
     .OrnamentalBox .row .middle .statName span span {
      padding: 0;
      background-repeat: repeat-x;
      background-position: left 50%;
     }
     
     .OrnamentalBox .row .middle .statName span span span {
      position: relative;
      border: 0;
      outline: 0;
      font-size: 9px;
      color: #b8b8b8;
      background: none !important;
     }

    .OrnamentalBox .row .left .columnLevel,
    .OrnamentalBox .row .left .columnTotal,
    .OrnamentalBox .row .left .columnScore,
    .OrnamentalBox .row .right .columnRank,
    .OrnamentalBox .row .right .columnTotal {
     border-right: 1px dotted #635035;
    }
    
    .OrnamentalBox .row .columnLevel,
    .OrnamentalBox .row .columnRank,
    .OrnamentalBox .row .columnTotal,
    .OrnamentalBox .row .columnScore {
     padding-top: 22px;
     padding-bottom: 22px;
     font-size: 14px;
     position: relative;
    }
    
     .OrnamentalBox .row .skillDifference,
     .OrnamentalBox .row .skillDifference span {
      display: block;
     }
    
     .OrnamentalBox .row .skillDifference {
      width: 100%;
      height: 19px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      display: none;
      bottom: 6px;
      line-height: 19px;
     }
     
      .OrnamentalBox .row .skillDifference span {
       margin: auto;
       font-size: 9px;
       font-family: MuseoSans500,Arial,Times New Roman,serif;
       text-align: right;
       background-position: 0 6px;
       background-repeat: no-repeat;
      }
     
    
    .OrnamentalBoxContent .row {
     overflow: hidden;
     clear: both;
    }
  
     .OrnamentalBoxContent .row .right,
     .OrnamentalBoxContent .row .left {
      border-bottom: 1px dotted #635035;
     }
     
      .OrnamentalBoxContent .row .right span,
      .OrnamentalBoxContent .row .left span {
       display: block;
       font-size: 16px;
       font-family: KingthingsPetrockRegular,Times New Roman,serif;
      }
 
     .OrnamentalBoxContent .row .middle img {
      display: block;
      margin: auto;
     }
     
    .OrnamentalBox .row.last-row {
     margin-bottom: 8px;
    }
    
     #hiscoresStats .row.last-row .right,
     #hiscoresStats .row.last-row .left {
      border: none;
     }
     
    #hiscoresStats .row.first-row .right,
    #hiscoresStats .row.first-row .left {
     padding-top: 8px;
    }
    
    #hiscoresStats .row.first-row .middle {
     padding-top: 0;
    }
    
.myStats {
 margin-top:8px;
 display:block;
 float:right;
 margin-right:8px;
}

#hiscoresStats.compareFriends {
 margin-top: 90px;
}
.compareFriends #hiscoresSearch {
 top: 270px;
 left: 230px;
 z-index: 20;
}
.compareFriends .myStats {
 display: inline-block;
 float: none;
}
.js .compareFriends select {
 display: none;
}