
   #events {
     background: url(../img/main/community/events-bg.png) center no-repeat;
     width: 330px;
     height: 481px;
     overflow: hidden;
    }
    
     #eventsInner {
      background: url(../img/main/community/events-inner-bg.jpg) center no-repeat;
      width: 295px;
      height: 452px;
      overflow: hidden;
      margin: 11px 19px 18px 16px;
      position: relative;
     }
     
      #eventsInner h3 {
       margin: 3px 0 0 21px;
      }
      
       #eventsContent {
        width: 256px;
        line-height: 17px;
        margin: 25px auto 0 auto;
        color: #b8b8b8;
       }
       
        #eventsContent a.event .img img {
         margin: 8px 0 0 5px;
        }
      
        #eventImage {
         background: url(../img/main/community/event-image-bg.png) center no-repeat;
         height: 169px;
         margin-bottom: 20px;
        }
        
         #eventImage img {
          width: 246px;
          height: 159px;
          margin: 5px;
         }
        
        #eventsContent .Button {
         position: absolute;
         right: 16px;
           top: 8px;
        }
		
		   #eventsContent a.event,
   #hotTopics a.hot {
    float: left;
    clear: both;
    font-size: 11px;
    width: 100%;
    color: #b8b8b8;
    margin-bottom: 8px;
   }
   
    #eventsContent .event:hover,
    #hotTopics .hot:hover {
     text-decoration: none;
    }
    
     #eventsContent .event:hover h4,
     #hotTopics .hot:hover h4 {
      color: white;
     }
     
     #eventsContent .event:hover .img,
     #hotTopics .hot:hover .img {
      background-position: top right;
     }
     
    #eventsContent a.event h4,
    #hotTopics a.hot h4 {
     font-size: 16px;
    }
   
    #eventsContent .event .img,
    #hotTopics .hot .img {
     float: left;
     margin: 0 10px 0 0;
     width: 49px;
     height: 53px;
     background: url(../img/main/community/hot-event-bg.png) no-repeat top left;
    }

	  