/* Layout */
.banner .inner {
    height: 409px;
}

section {
    position: relative;
    display: table;
    height: 329px;
    width: 100%;
}

section:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    bottom: -3px;
    left: 0;
    background: transparent url("../../../img/rs3/global/tblRoughBreak.png") repeat-x;
}

section > div {
    display: table-cell;
    position: relative;
    z-index: 20;
    vertical-align: middle;
    width: 370px;
    padding-left: 65px;
}

section > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.alternate > div {
    padding-left: 600px;
    width: 350px;
}

h2 {
    margin-bottom: 10px;
    font-size: 5.0em;
    letter-spacing: -2px;
}

h2 span {
    display: block;
    font-size: 0.4em;
    line-height: 10px;
    padding-left: 5px;
    color: white;
    letter-spacing: 0px;
}

p {
    font-size: 1.5em;
}

.intro {
    min-height: 403px;
}

.intro > div {
    width: 445px;
}

.intro:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 32px;
    bottom: 0;
    left: 0;
    background: transparent url("../../../img/rs3/global/divide.jpg") no-repeat;
}

.articles {
    width: 870px;
    padding: 52px 65px;
    background: transparent url("../../../img/rs3/global/crack_texture-top.jpg") no-repeat;
}

.articles h2 {
    margin-bottom: 30px;
}

.articles article {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #1e313c;
    border-bottom: 1px solid #000;
}

.articles article:first-of-type:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.articles article:last-child:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #1e313c;
}

.articles figure {
    display: table-cell;
    vertical-align: middle;
}

.articles img {
    display: block;
    border: 5px solid transparent;
    -moz-border-image: url("../../../img/rs3/img/microsite/frame.jpg") 5 repeat;
    -webkit-border-image: url("../../../img/rs3/img/microsite/frame.jpg") 5 repeat;
    -o-border-image: url("../../../img/rs3/img/microsite/frame.jpg") 5 repeat;
    border-image: url("../../../img/rs3/img/microsite/frame.jpg") 5 repeat;
    box-shadow: 6px 6px 10px #000;
    -moz-box-shadow: 6px 6px 10px #000;
    -webkit-box-shadow: 6px 6px 10px #000;
}

.articles div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.articles h3 {
    font-size: 2.5em;
    color: #b2dbee;
}

.articles p {
    color: #d7dbe1;
}

.articles article span {
    font-weight: bold;
}

.articles a {
    color: #e1bb34;
}

.articles a:hover {
    color: #fff2c5;
}

/* Game Guide */
.gameguide .title span {
    background: transparent url("../../../img/rs3/titles/game-guide.png") no-repeat 7px 0;
    z-index: 26;
}

.pt.gameguide .title span {
    background-position: 9px 22px;
}
